@{
    ViewBag.Title = "Academia Programadores | Inicio";
}

<div class="jumbotron">
    <h1 class="text-primary text-center" style="font-size: 4rem; overflow-x: hidden">Academia de Programadores</h1>
    <img src="~/Content/HTML5_Full_Version/img/home-img.jpg" alt="logo academia de programadores" style="width: 90%; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin: 20px; max-width: 400px;"/>
    <p class="lead text-primary text-center">Bienvenidos al mini proyectito replica del Sistema de la Academia de Programadores de la AHM.</p>
    <p><a href="https://www.ahm-honduras.com/" class="btn btn-primary btn-lg">AHM sitio web &raquo;</a></p>
</div>