@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login | Academia de Programadores</title>
    @*<link href="~/Content/HTML5_Full_Version/css/bootstrap.min.css" rel="stylesheet">*@
    @Styles.Render("~/Content/HTML5_Full_Version/css/bootstrap.css")
    @*<link href="~/Content/HTML5_Full_Version/font-awesome/css/font-awesome.css" rel="stylesheet">*@
    @Styles.Render("~/Content/HTML5_Full_Version/font-awesome/css/font-awesome.css")
    @*<link href="~/Content/HTML5_Full_Version/css/animate.css" rel="stylesheet">*@
    @Styles.Render("~/Content/HTML5_Full_Version/css/animate.css")
    @*<link href="~/Content/HTML5_Full_Version/css/style.css" rel="stylesheet">*@
    @Styles.Render("~/Content/HTML5_Full_Version/css/style.css")
</head>
<body>
    <div class="bg-primary w-100 h-100 d-flex align-items-center justify-content-center" style="background: linear-gradient(110deg, rgba(85,14,146,1) 20%, rgba(248,148,29,1) 100%);">
        <div class="card" style="max-width: 500px">
            <div class="d-flex w-100 justify-content-center">
                <img style="width: 90%;" src="data:image/svg+xml, %3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='900.000000pt' height='168.000000pt' viewBox='0 0 900.000000 168.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,168.000000) scale(0.100000,-0.100000)' fill='%2346006b' stroke='none'%3E%3Cpath d='M995 1480 c-137 -29 -220 -109 -259 -250 -10 -36 -27 -96 -38 -135 -11 -38 -24 -83 -28 -100 -5 -16 -16 -61 -26 -100 -9 -38 -22 -88 -29 -110 -17 -54 -40 -137 -59 -215 -14 -57 -35 -128 -67 -236 -14 -46 -11 -141 5 -172 21 -40 70 -72 110 -72 33 0 37 5 143 161 59 89 113 169 119 178 6 9 31 46 54 83 28 44 49 68 61 68 11 0 19 -4 19 -9 0 -5 15 -13 32 -17 18 -3 43 -13 55 -21 29 -19 67 -13 71 11 3 16 0 18 -25 13 -20 -4 -39 0 -59 14 -16 10 -37 19 -46 19 -9 0 -29 7 -45 14 -15 8 -36 17 -45 20 -20 6 -24 46 -7 77 9 17 4 28 -35 69 -71 76 -63 112 43 183 71 47 81 51 147 55 71 4 98 -3 175 -44 55 -29 125 -37 182 -20 48 14 202 108 252 153 11 10 43 36 70 58 28 22 55 45 60 51 6 6 52 46 103 89 90 76 92 78 75 98 -20 21 -67 47 -135 73 -37 15 -94 18 -438 20 -217 1 -413 -1 -435 -6z m489 -185 c80 -42 94 -153 28 -222 -15 -16 -52 -37 -83 -47 -53 -18 -56 -18 -95 -1 -72 33 -84 51 -84 122 0 55 4 66 28 92 59 64 145 87 206 56z'/%3E%3Cpath d='M2060 1252 c0 -7 -344 -355 -557 -564 -47 -46 -58 -75 -43 -113 8 -20 15 -24 32 -20 13 3 50 9 83 14 258 39 454 214 520 464 20 79 17 203 -6 218 -18 11 -29 11 -29 1z'/%3E%3Cpath d='M2589 1133 c-43 -5 -55 -17 -102 -103 -19 -36 -54 -99 -77 -140 -23 -41 -58 -104 -78 -140 -20 -36 -38 -67 -41 -70 -3 -3 -15 -23 -26 -45 -11 -22 -31 -58 -44 -80 -39 -63 -59 -104 -53 -110 3 -3 45 -5 93 -5 l88 0 45 75 c25 42 46 79 46 84 0 5 9 20 21 35 17 21 29 26 65 26 59 0 228 27 284 46 176 59 290 172 290 287 0 47 -25 80 -87 111 -60 30 -275 45 -424 29z m255 -114 c20 -12 39 -32 42 -45 8 -31 -29 -108 -64 -134 -15 -11 -33 -25 -40 -30 -26 -22 -97 -40 -158 -40 l-64 0 0 29 c0 17 4 33 10 36 5 3 21 28 34 55 14 27 40 72 58 100 l33 50 57 0 c40 0 67 -6 92 -21z'/%3E%3Cpath d='M3370 1133 c-44 -6 -60 -21 -90 -80 -13 -27 -33 -64 -45 -83 -12 -19 -39 -66 -60 -105 -53 -97 -61 -112 -101 -180 -19 -33 -48 -87 -65 -120 -17 -33 -40 -72 -50 -87 -11 -14 -19 -29 -19 -32 0 -3 42 -6 94 -6 l95 0 34 58 c45 75 110 193 119 213 3 8 24 46 47 82 23 37 41 71 41 76 0 4 8 19 19 32 10 13 32 49 48 79 l30 55 58 3 c65 3 109 -10 130 -42 48 -68 -40 -158 -218 -222 -48 -17 -49 -18 -44 -53 8 -52 35 -200 44 -241 l9 -35 93 -3 c52 -1 98 1 102 5 7 7 -16 122 -43 214 -14 50 -7 72 27 84 51 17 141 74 180 113 75 76 95 158 53 207 -43 47 -125 67 -298 70 -85 2 -171 1 -190 -2z'/%3E%3Cpath d='M4371 1129 c-179 -30 -358 -140 -453 -279 -65 -94 -79 -132 -85 -214 -10 -137 33 -178 205 -198 265 -29 534 88 670 292 51 77 69 116 82 182 12 62 0 128 -30 159 -54 58 -231 84 -389 58z m159 -109 c75 -38 77 -90 7 -223 -84 -162 -229 -266 -370 -267 -84 0 -137 41 -137 105 0 56 65 186 127 255 111 124 274 181 373 130z'/%3E%3Cpath d='M5365 1130 c-196 -31 -391 -141 -489 -276 -44 -60 -85 -141 -86 -167 0 -10 -5 -27 -11 -38 -16 -31 15 -114 56 -145 71 -53 134 -67 315 -67 91 1 179 5 195 10 27 8 30 14 33 58 l3 48 -48 -7 c-129 -18 -155 -19 -215 0 -109 33 -138 85 -101 184 46 124 149 226 268 267 130 46 203 52 322 27 28 -5 36 -2 67 32 40 44 44 59 19 69 -29 11 -263 15 -328 5z'/%3E%3Cpath d='M7435 1133 c-74 -10 -205 -49 -255 -76 -164 -88 -255 -175 -314 -302 -70 -149 -36 -246 104 -295 58 -20 83 -23 225 -22 88 1 176 5 195 9 32 8 35 12 38 47 5 64 4 65 -87 48 -69 -14 -91 -14 -144 -3 -116 24 -154 64 -141 150 10 69 50 139 116 204 102 99 259 156 394 143 140 -14 133 -15 167 31 17 24 27 46 24 50 -18 18 -228 29 -322 16z'/%3E%3Cpath d='M8145 1129 c-145 -24 -262 -81 -369 -179 -139 -129 -216 -309 -174 -407 28 -65 80 -91 206 -105 310 -33 591 116 722 385 27 56 33 79 34 137 0 64 -2 72 -29 100 -17 17 -43 38 -60 46 -68 32 -215 42 -330 23z m148 -105 c39 -20 67 -52 67 -79 0 -42 -54 -165 -99 -225 -36 -48 -111 -119 -142 -135 -140 -73 -278 -71 -309 6 -38 90 85 308 218 387 96 57 205 76 265 46z'/%3E%3Cpath d='M5838 1118 c-9 -7 -33 -44 -53 -83 -20 -38 -41 -74 -45 -80 -4 -5 -23 -39 -43 -75 -19 -36 -54 -99 -77 -140 -23 -41 -58 -104 -78 -140 -19 -36 -46 -82 -59 -102 -12 -21 -23 -42 -23 -48 0 -6 35 -10 89 -10 94 0 111 7 132 54 5 12 25 48 44 81 19 33 40 71 47 85 7 14 29 52 48 85 20 33 39 67 43 75 4 8 20 38 35 65 16 28 44 79 63 115 19 36 37 67 40 70 7 6 29 47 29 54 0 12 -176 6 -192 -6z'/%3E%3Cpath d='M6190 1093 c-13 -21 -36 -63 -53 -93 -16 -30 -36 -65 -43 -77 -8 -13 -33 -58 -56 -100 -22 -43 -45 -83 -49 -89 -5 -6 -24 -40 -43 -75 -18 -35 -52 -95 -74 -134 -22 -38 -37 -74 -33 -78 5 -4 43 -7 85 -5 l78 3 50 90 c28 50 60 108 72 130 120 221 134 233 162 138 9 -32 29 -101 44 -153 16 -52 36 -121 45 -153 l17 -58 81 3 81 3 47 80 c66 115 167 294 214 379 22 41 45 80 51 87 7 8 21 35 33 61 11 26 26 50 31 53 25 15 -7 25 -80 25 l-80 0 -25 -40 c-14 -22 -25 -42 -25 -46 0 -4 -15 -32 -34 -63 -32 -53 -78 -136 -117 -209 -25 -47 -40 -63 -57 -60 -14 3 -52 105 -52 141 0 9 -4 25 -9 35 -12 22 -37 102 -51 167 -16 71 -21 75 -110 75 l-78 0 -22 -37z'/%3E%3Cpath d='M1080 910 c0 -15 79 -50 113 -50 44 0 32 24 -22 43 -55 19 -91 22 -91 7z'/%3E%3Cpath d='M1170 605 c0 -8 5 -15 10 -15 6 0 10 7 10 15 0 8 -4 15 -10 15 -5 0 -10 -7 -10 -15z'/%3E%3C/g%3E%3C/svg%3E" />
            </div>
            <div class="card-body pt-0">
                <h1 class="text-primary text-center mt-0" style="font-size: 2.5rem;">Login</h1>
                <div class="form-group">
                    <label for="txtUsuario" class="text-primary">Usuario</label>
                    <div>
                        <input id="txtUsuario" name="txtUsuario" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtContra" class="text-primary">Contraseña</label>
                    <div>
                        <input id="txtContra" name="txtContra" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary w-100">Iniciar sesión</button>
                </div>
                <a href="#" class="d-block text-secondary w-100 mb-4 text-right" style="text-decoration: underline;">Olvidé mi contraseña</a>
                <a href="#" class="btn btn-primary btn-outline w-100 mb-2">Iniciar sesion con facebook</a>
                <a href="#" class="btn btn-primary btn-outline w-100">Iniciar sesion con google</a>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.form-group').forEach(grupo => {
            grupo.children[1].children[0].addEventListener('focus', () => {
                grupo.children[0].classList.add('text-secondary')
            })
            grupo.children[1].children[0].addEventListener('blur', () => {
                grupo.children[0].classList.remove('text-secondary')
            })
        })
    </script>
</body>
</html>
