@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login | Academia de Programadores</title>
    @*<link href="~/Content/HTML5_Full_Version/css/bootstrap.min.css" rel="stylesheet">*@
    @Styles.Render("~/Content/HTML5_Full_Version/css/bootstrap.css")
    @*<link href="~/Content/HTML5_Full_Version/font-awesome/css/font-awesome.css" rel="stylesheet">*@
    @Styles.Render("~/Content/HTML5_Full_Version/font-awesome/css/font-awesome.css")
    @*<link href="~/Content/HTML5_Full_Version/css/animate.css" rel="stylesheet">*@
    @Styles.Render("~/Content/HTML5_Full_Version/css/animate.css")
    @*<link href="~/Content/HTML5_Full_Version/css/style.css" rel="stylesheet">*@
    @Styles.Render("~/Content/HTML5_Full_Version/css/style.css")
</head>
<body>
    <div class="w-100 h-100 d-flex align-items-center justify-content-center" style="background-image: url(../../Content/HTML5_Full_Version/img/estudiantes-universitarios.jpg)">
        <div class="card" style="max-width: 500px; background: #f7f7f7;">
            <div class="d-flex w-100 justify-content-center">
                <img style="width: 90%;" src="~/Content/HTML5_Full_Version/img/Procinco.png"/>
            </div>
            <div class="card-body pt-0">
                <h1 class="text-primary text-center mt-0" style="font-size: 2.5rem;">Login</h1>
                <div class="form-group">
                    <label for="txtUsuario" class="text-primary">Usuario</label>
                    <div>
                        <input id="txtUsuario" name="txtUsuario" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtContra" class="text-primary">Contraseña</label>
                    <div>
                        <input id="txtContra" name="txtContra" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary w-100">Iniciar sesión</button>
                </div>
                <a href="#" class="d-block text-secondary w-100 mb-4 text-right" style="text-decoration: underline;">Olvidé mi contraseña</a>
                <a href="#" class="btn btn-primary btn-outline w-100 mb-2">Iniciar sesion con facebook</a>
                <a href="#" class="btn btn-primary btn-outline w-100">Iniciar sesion con google</a>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.form-group').forEach(grupo => {
            grupo.children[1].children[0].addEventListener('focus', () => {
                grupo.children[0].classList.add('text-secondary')
            })
            grupo.children[1].children[0].addEventListener('blur', () => {
                grupo.children[0].classList.remove('text-secondary')
            })
        })
    </script>
</body>
</html>
