@{
    ViewBag.Title = "Academia Programadores | Inicio";
}

<div class="jumbotron">
    <h1>G7</h1>
    <img src="" alt="logo academia de programadores"/>
    <p class="lead">Bienvenidos al mini proyectito replica del Sistema de la Academia de Programadores de la AHM.</p>
    <p><a href="https://www.ahm-honduras.com/" class="btn btn-primary btn-lg">AHM sitio web &raquo;</a></p>
</div>