USE [dbAcademiaProgramadores]
GO
/****** Object:  Schema [Acade]    Script Date: 2/26/2024 10:55:05 PM ******/
CREATE SCHEMA [Acade]
GO
/****** Object:  Schema [Acces]    Script Date: 2/26/2024 10:55:05 PM ******/
CREATE SCHEMA [Acces]
GO
/****** Object:  Schema [Calif]    Script Date: 2/26/2024 10:55:05 PM ******/
CREATE SCHEMA [Calif]
GO
/****** Object:  Schema [Mante]    Script Date: 2/26/2024 10:55:05 PM ******/
CREATE SCHEMA [Mante]
GO
/****** Object:  Table [Acade].[tbAlumnos]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbAlumnos](
	[Perso_Id] [int] NOT NULL,
	[Alumn_ColegioEgresion] [varchar](30) NOT NULL,
	[Alumn_Universidad] [varchar](30) NULL,
	[Alumn_Telefono] [varchar](15) NULL,
	[Alumn_CorreoElectronico] [varchar](max) NULL,
	[Alumn_TituloEgresion] [varchar](max) NOT NULL,
	[Alumn_UsuarioCreacion] [int] NOT NULL,
	[Alumn_FechaCreacion] [datetime] NOT NULL,
	[Alumn_UsuarioModificacion] [int] NULL,
	[Alumn_FechaModificacion] [datetime] NULL,
	[Alumn_Estado] [bit] NULL,
 CONSTRAINT [PK_tbAlumnos_Perso_Id] PRIMARY KEY CLUSTERED 
(
	[Perso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbCursos]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbCursos](
	[Curso_Id] [int] IDENTITY(1,1) NOT NULL,
	[Curso_Nombre] [varchar](30) NOT NULL,
	[Curso_UsuarioCreacion] [int] NOT NULL,
	[Curso_FechaCreacion] [datetime] NOT NULL,
	[Curso_UsuarioModificacion] [int] NULL,
	[Curso_FechaModificacion] [datetime] NULL,
	[Curso_Estado] [bit] NULL,
 CONSTRAINT [PK_tbCursos_Curso_Id] PRIMARY KEY CLUSTERED 
(
	[Curso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbCursosPorGeneracion]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbCursosPorGeneracion](
	[CuGen_Id] [int] IDENTITY(1,1) NOT NULL,
	[Curso_Id] [int] NOT NULL,
	[Gener_Id] [int] NOT NULL,
	[CuGen_UsuarioCreacion] [int] NOT NULL,
	[CuGen_FechaCreacion] [datetime] NOT NULL,
	[CuGen_UsuarioModificacion] [int] NULL,
	[CuGen_FechaModificacion] [datetime] NULL,
	[CuGen_Estado] [bit] NULL,
 CONSTRAINT [PK_tbCursosPorGeneracion_CuGen_Id] PRIMARY KEY CLUSTERED 
(
	[CuGen_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbGeneraciones]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbGeneraciones](
	[Gener_Id] [int] IDENTITY(1,1) NOT NULL,
	[Gener_Nombre] [varchar](30) NOT NULL,
	[Gener_Anhio] [int] NOT NULL,
	[Gener_UsuarioCreacion] [int] NOT NULL,
	[Gener_FechaCreacion] [datetime] NOT NULL,
	[Gener_UsuarioModificacion] [int] NULL,
	[Gener_FechaModificacion] [datetime] NULL,
	[Gener_Estado] [bit] NULL,
 CONSTRAINT [PK_tbGeneraciones_Gener_Id] PRIMARY KEY CLUSTERED 
(
	[Gener_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbInstructores]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbInstructores](
	[Perso_Id] [int] NOT NULL,
	[Instr_Telefono] [varchar](15) NULL,
	[Instr_CorreoElectronico] [varchar](max) NULL,
	[Instr_Pregrado] [varchar](max) NOT NULL,
	[Instr_Posgrado] [varchar](max) NOT NULL,
	[Instr_UsuarioCreacion] [int] NOT NULL,
	[Instr_FechaCreacion] [datetime] NOT NULL,
	[Instr_UsuarioModificacion] [int] NULL,
	[Instr_FechaModificacion] [datetime] NULL,
	[Instr_Estado] [bit] NULL,
 CONSTRAINT [PK_tbInstructores_Perso_Id] PRIMARY KEY CLUSTERED 
(
	[Perso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbInstructoresPorCursoPorGeneracion]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbInstructoresPorCursoPorGeneracion](
	[InsCG_Id] [int] IDENTITY(1,1) NOT NULL,
	[Instr_Id] [int] NOT NULL,
	[CuGen_Id] [int] NOT NULL,
	[InsCG_UsuarioCreacion] [int] NOT NULL,
	[InsCG_FechaCreacion] [datetime] NOT NULL,
	[InsCG_UsuarioModificacion] [int] NULL,
	[InsCG_FechaModificacion] [datetime] NULL,
	[InsCG_Estado] [bit] NULL,
 CONSTRAINT [PK_tbInstructoresPorCursoPorGeneracion_InsCG_Id] PRIMARY KEY CLUSTERED 
(
	[InsCG_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbPantallas]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbPantallas](
	[Panta_Id] [int] IDENTITY(1,1) NOT NULL,
	[Panta_Descripcion] [varchar](30) NOT NULL,
	[Panta_UsuarioCreacion] [int] NOT NULL,
	[Panta_FechaCreacion] [datetime] NOT NULL,
	[Panta_UsuarioModificacion] [int] NULL,
	[Panta_FechaModificacion] [datetime] NULL,
	[Panta_Estado] [bit] NULL,
 CONSTRAINT [PK_tbPantallas_Panta_Id] PRIMARY KEY CLUSTERED 
(
	[Panta_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbPantallasPorRoles]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbPantallasPorRoles](
	[Papro_Id] [int] IDENTITY(1,1) NOT NULL,
	[Panta_Id] [int] NOT NULL,
	[Roles_Id] [int] NOT NULL,
	[Papro_UsuarioCreacion] [int] NOT NULL,
	[Papro_FechaCreacion] [datetime] NOT NULL,
	[Papro_UsuarioModificacion] [int] NULL,
	[Papro_FechaModificacion] [datetime] NULL,
	[Papro_Estado] [bit] NULL,
 CONSTRAINT [PK_tbPantallasPorRoles_Paxro_Id] PRIMARY KEY CLUSTERED 
(
	[Papro_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbRoles]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbRoles](
	[Roles_Id] [int] IDENTITY(1,1) NOT NULL,
	[Roles_Descripcion] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tbRoles_Roles_Descripcion] PRIMARY KEY CLUSTERED 
(
	[Roles_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbUsuarios]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbUsuarios](
	[Usuar_Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuar_Usuario] [varchar](50) NOT NULL,
	[Usuar_Contrasena] [varchar](max) NOT NULL,
	[Usuar_Correo] [varchar](max) NULL,
	[Usuar_UltimaSesion] [datetime] NULL,
	[Instr_Id] [int] NOT NULL,
	[Roles_Id] [int] NOT NULL,
	[Usuar_Admin] [bit] NULL,
	[Usuar_UsuarioCreacion] [int] NOT NULL,
	[Usuar_FechaCreacion] [datetime] NOT NULL,
	[Usuar_UsuarioModificacion] [int] NULL,
	[Usuar_FechaModificacion] [datetime] NULL,
	[Usuar_Estado] [bit] NULL,
 CONSTRAINT [PK_tbUsuarios_Usuar_Id] PRIMARY KEY CLUSTERED 
(
	[Usuar_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Calif].[tbActividades]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Calif].[tbActividades](
	[Activ_Id] [int] IDENTITY(1,1) NOT NULL,
	[Activ_Nombre] [varchar](30) NOT NULL,
	[Activ_UsuarioCreacion] [int] NOT NULL,
	[Activ_FechaCreacion] [datetime] NOT NULL,
	[Activ_UsuarioModificacion] [int] NULL,
	[Activ_FechaModificacion] [datetime] NULL,
	[Activ_Estado] [bit] NULL,
 CONSTRAINT [PK_tbActividades_Activ_Id] PRIMARY KEY CLUSTERED 
(
	[Activ_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Calif].[tbActividadesPorCursoPorGeneracion]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Calif].[tbActividadesPorCursoPorGeneracion](
	[ActCG_Id] [int] IDENTITY(1,1) NOT NULL,
	[Activ_Id] [int] NOT NULL,
	[CuGen_Id] [int] NOT NULL,
	[ActCG_Nota] [numeric](4, 2) NOT NULL,
	[ActCG_UsuarioCreacion] [int] NOT NULL,
	[ActCG_FechaCreacion] [datetime] NOT NULL,
	[ActCG_UsuarioModificacion] [int] NULL,
	[ActCG_FechaModificacion] [datetime] NULL,
	[ActCG_Estado] [bit] NULL,
 CONSTRAINT [PK_tbActividadesPorCursoPorGeneracion_ActCG_Id] PRIMARY KEY CLUSTERED 
(
	[ActCG_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Calif].[tbCalificaciones]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Calif].[tbCalificaciones](
	[Calif_Id] [int] IDENTITY(1,1) NOT NULL,
	[CuGen_Id] [int] NOT NULL,
	[Alumn_Id] [int] NOT NULL,
	[Calif_Nota] [numeric](4, 2) NULL,
	[Calif_UsuarioCreacion] [int] NOT NULL,
	[Calif_FechaCreacion] [datetime] NOT NULL,
	[Calif_UsuarioModificacion] [int] NULL,
	[Calif_FechaModificacion] [datetime] NULL,
	[Calif_Estado] [bit] NULL,
 CONSTRAINT [PK_tbCalificaciones_Calif_Id] PRIMARY KEY CLUSTERED 
(
	[Calif_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbDepartamentos]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbDepartamentos](
	[Depar_Id] [char](2) NOT NULL,
	[Depar_Descripcion] [varchar](50) NOT NULL,
	[Depar_UsuarioCreacion] [int] NOT NULL,
	[Depar_FechaCreacion] [datetime] NOT NULL,
	[Depar_UsuarioModificacion] [int] NULL,
	[Depar_FechaModificacion] [datetime] NULL,
	[Depar_Estado] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbEstadosCiviles]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbEstadosCiviles](
	[Estci_Id] [int] IDENTITY(1,1) NOT NULL,
	[Estci_Descripcion] [varchar](30) NOT NULL,
	[Estci_UsuarioCreacion] [int] NOT NULL,
	[Estci_FechaCreacion] [datetime] NOT NULL,
	[Estci_UsuarioModificacion] [int] NULL,
	[Estci_FechaModificacion] [datetime] NULL,
	[Estci_Estado] [bit] NULL,
 CONSTRAINT [PK_tbEstadosCiviles_Estci_Id] PRIMARY KEY CLUSTERED 
(
	[Estci_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbMunicipios]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbMunicipios](
	[Munic_Id] [char](4) NOT NULL,
	[Munic_Descripcion] [varchar](50) NOT NULL,
	[Depar_Id] [char](2) NOT NULL,
	[Munic_UsuarioCreacion] [int] NOT NULL,
	[Munic_FechaCreacion] [datetime] NOT NULL,
	[Munic_UsuarioModificacion] [int] NULL,
	[Munic_FechaModificacion] [datetime] NULL,
	[Munic_Estado] [bit] NULL,
 CONSTRAINT [PK_tbMunicipios_Munic_Id] PRIMARY KEY CLUSTERED 
(
	[Munic_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbPersonas]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbPersonas](
	[Perso_Id] [int] IDENTITY(1,1) NOT NULL,
	[Perso_Tipo] [char](1) NULL,
	[Perso_PrimerNombre] [varchar](30) NOT NULL,
	[Perso_SegundoNombre] [varchar](30) NULL,
	[Perso_PrimerApellido] [varchar](30) NOT NULL,
	[Perso_SegundoApellido] [varchar](30) NULL,
	[Perso_FechaNacimiento] [date] NOT NULL,
	[Perso_Sexo] [char](1) NOT NULL,
	[Estci_Id] [int] NOT NULL,
	[Perso_Direccion] [varchar](max) NOT NULL,
	[Munic_Id] [char](4) NOT NULL,
	[Perso_Telefono] [varchar](15) NOT NULL,
	[Perso_CorreoElectronico] [varchar](max) NOT NULL,
	[Perso_UsuarioCreacion] [int] NOT NULL,
	[Perso_FechaCreacion] [datetime] NOT NULL,
	[Perso_UsuarioModificacion] [int] NULL,
	[Perso_FechaModificacion] [datetime] NULL,
	[Perso_Estado] [bit] NULL,
 CONSTRAINT [PK_tbPersonas_Perso_Id] PRIMARY KEY CLUSTERED 
(
	[Perso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [Acade].[tbAlumnos] ([Perso_Id], [Alumn_ColegioEgresion], [Alumn_Universidad], [Alumn_Telefono], [Alumn_CorreoElectronico], [Alumn_TituloEgresion], [Alumn_UsuarioCreacion], [Alumn_FechaCreacion], [Alumn_UsuarioModificacion], [Alumn_FechaModificacion], [Alumn_Estado]) VALUES (2, N'San Jose La Salle', N'UNAH-VS San Pedro Sula', NULL, NULL, N'Bachillerato Técnico en Informática', 1, CAST(N'2024-02-26T22:43:00.000' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [Acade].[tbCursos] ON 

INSERT [Acade].[tbCursos] ([Curso_Id], [Curso_Nombre], [Curso_UsuarioCreacion], [Curso_FechaCreacion], [Curso_UsuarioModificacion], [Curso_FechaModificacion], [Curso_Estado]) VALUES (1, N'Desarrollo En C#', 1, CAST(N'2024-02-26T22:38:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbCursos] OFF
GO
SET IDENTITY_INSERT [Acade].[tbCursosPorGeneracion] ON 

INSERT [Acade].[tbCursosPorGeneracion] ([CuGen_Id], [Curso_Id], [Gener_Id], [CuGen_UsuarioCreacion], [CuGen_FechaCreacion], [CuGen_UsuarioModificacion], [CuGen_FechaModificacion], [CuGen_Estado]) VALUES (1, 1, 1, 1, CAST(N'2024-02-26T22:45:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbCursosPorGeneracion] OFF
GO
SET IDENTITY_INSERT [Acade].[tbGeneraciones] ON 

INSERT [Acade].[tbGeneraciones] ([Gener_Id], [Gener_Nombre], [Gener_Anhio], [Gener_UsuarioCreacion], [Gener_FechaCreacion], [Gener_UsuarioModificacion], [Gener_FechaModificacion], [Gener_Estado]) VALUES (1, N'7ma Generacion', 2024, 1, CAST(N'2024-02-26T22:45:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbGeneraciones] OFF
GO
INSERT [Acade].[tbInstructores] ([Perso_Id], [Instr_Telefono], [Instr_CorreoElectronico], [Instr_Pregrado], [Instr_Posgrado], [Instr_UsuarioCreacion], [Instr_FechaCreacion], [Instr_UsuarioModificacion], [Instr_FechaModificacion], [Instr_Estado]) VALUES (1, N'+50431544783', N'	esdra_cerna@hotmail.com', N'Ingenieria en Sistemas Computacionales', N'Maestria en Sistemas Tecnologicos Avanzados', 1, CAST(N'2024-02-26T21:58:00.000' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [Acade].[tbInstructoresPorCursoPorGeneracion] ON 

INSERT [Acade].[tbInstructoresPorCursoPorGeneracion] ([InsCG_Id], [Instr_Id], [CuGen_Id], [InsCG_UsuarioCreacion], [InsCG_FechaCreacion], [InsCG_UsuarioModificacion], [InsCG_FechaModificacion], [InsCG_Estado]) VALUES (1, 1, 1, 1, CAST(N'2024-02-26T22:48:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbInstructoresPorCursoPorGeneracion] OFF
GO
SET IDENTITY_INSERT [Acces].[tbPantallas] ON 

INSERT [Acces].[tbPantallas] ([Panta_Id], [Panta_Descripcion], [Panta_UsuarioCreacion], [Panta_FechaCreacion], [Panta_UsuarioModificacion], [Panta_FechaModificacion], [Panta_Estado]) VALUES (1, N'Vistas', 1, CAST(N'2024-02-26T22:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acces].[tbPantallas] OFF
GO
SET IDENTITY_INSERT [Acces].[tbPantallasPorRoles] ON 

INSERT [Acces].[tbPantallasPorRoles] ([Papro_Id], [Panta_Id], [Roles_Id], [Papro_UsuarioCreacion], [Papro_FechaCreacion], [Papro_UsuarioModificacion], [Papro_FechaModificacion], [Papro_Estado]) VALUES (1, 1, 2, 1, CAST(N'2024-02-26T10:11:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acces].[tbPantallasPorRoles] OFF
GO
SET IDENTITY_INSERT [Acces].[tbRoles] ON 

INSERT [Acces].[tbRoles] ([Roles_Id], [Roles_Descripcion]) VALUES (1, N'Auditoria')
INSERT [Acces].[tbRoles] ([Roles_Id], [Roles_Descripcion]) VALUES (5, N'Digitador')
INSERT [Acces].[tbRoles] ([Roles_Id], [Roles_Descripcion]) VALUES (4, N'Gerencial')
SET IDENTITY_INSERT [Acces].[tbRoles] OFF
GO
SET IDENTITY_INSERT [Acces].[tbUsuarios] ON 

INSERT [Acces].[tbUsuarios] ([Usuar_Id], [Usuar_Usuario], [Usuar_Contrasena], [Usuar_Correo], [Usuar_UltimaSesion], [Instr_Id], [Roles_Id], [Usuar_Admin], [Usuar_UsuarioCreacion], [Usuar_FechaCreacion], [Usuar_UsuarioModificacion], [Usuar_FechaModificacion], [Usuar_Estado]) VALUES (1, N'admin', N'0x7FCF4BA391C48784EDDE599889D6E3F1E47A27DB36ECC050CC92F259BFAC38AFAD2C68A1AE804D77075E8FB722503F3ECA2B2C1006EE6F6C7B7628CB45FFFD1D', NULL, NULL, 1, 1, 1, 1, CAST(N'2024-02-26T19:26:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acces].[tbUsuarios] OFF
GO
SET IDENTITY_INSERT [Calif].[tbActividades] ON 

INSERT [Calif].[tbActividades] ([Activ_Id], [Activ_Nombre], [Activ_UsuarioCreacion], [Activ_FechaCreacion], [Activ_UsuarioModificacion], [Activ_FechaModificacion], [Activ_Estado]) VALUES (1, N'Evaluacion Final', 1, CAST(N'2024-02-26T22:50:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Calif].[tbActividades] OFF
GO
SET IDENTITY_INSERT [Calif].[tbActividadesPorCursoPorGeneracion] ON 

INSERT [Calif].[tbActividadesPorCursoPorGeneracion] ([ActCG_Id], [Activ_Id], [CuGen_Id], [ActCG_Nota], [ActCG_UsuarioCreacion], [ActCG_FechaCreacion], [ActCG_UsuarioModificacion], [ActCG_FechaModificacion], [ActCG_Estado]) VALUES (1, 1, 1, CAST(40.00 AS Numeric(4, 2)), 1, CAST(N'2024-02-26T22:50:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Calif].[tbActividadesPorCursoPorGeneracion] OFF
GO
SET IDENTITY_INSERT [Calif].[tbCalificaciones] ON 

INSERT [Calif].[tbCalificaciones] ([Calif_Id], [CuGen_Id], [Alumn_Id], [Calif_Nota], [Calif_UsuarioCreacion], [Calif_FechaCreacion], [Calif_UsuarioModificacion], [Calif_FechaModificacion], [Calif_Estado]) VALUES (2, 1, 2, NULL, 1, CAST(N'2024-02-26T22:52:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Calif].[tbCalificaciones] OFF
GO
INSERT [Mante].[tbDepartamentos] ([Depar_Id], [Depar_Descripcion], [Depar_UsuarioCreacion], [Depar_FechaCreacion], [Depar_UsuarioModificacion], [Depar_FechaModificacion], [Depar_Estado]) VALUES (N'01', N'Atlántida', 1, CAST(N'2024-02-11T12:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbDepartamentos] ([Depar_Id], [Depar_Descripcion], [Depar_UsuarioCreacion], [Depar_FechaCreacion], [Depar_UsuarioModificacion], [Depar_FechaModificacion], [Depar_Estado]) VALUES (N'02', N'Colón', 1, CAST(N'2024-02-11T12:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbDepartamentos] ([Depar_Id], [Depar_Descripcion], [Depar_UsuarioCreacion], [Depar_FechaCreacion], [Depar_UsuarioModificacion], [Depar_FechaModificacion], [Depar_Estado]) VALUES (N'03', N'Comayagua', 1, CAST(N'2024-02-11T12:00:00.000' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [Mante].[tbEstadosCiviles] ON 

INSERT [Mante].[tbEstadosCiviles] ([Estci_Id], [Estci_Descripcion], [Estci_UsuarioCreacion], [Estci_FechaCreacion], [Estci_UsuarioModificacion], [Estci_FechaModificacion], [Estci_Estado]) VALUES (1, N'Soltero', 1, CAST(N'2024-02-26T21:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbEstadosCiviles] ([Estci_Id], [Estci_Descripcion], [Estci_UsuarioCreacion], [Estci_FechaCreacion], [Estci_UsuarioModificacion], [Estci_FechaModificacion], [Estci_Estado]) VALUES (2, N'Casado ', 1, CAST(N'2024-02-26T21:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbEstadosCiviles] ([Estci_Id], [Estci_Descripcion], [Estci_UsuarioCreacion], [Estci_FechaCreacion], [Estci_UsuarioModificacion], [Estci_FechaModificacion], [Estci_Estado]) VALUES (3, N'Union Libre', 1, CAST(N'2024-02-26T21:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Mante].[tbEstadosCiviles] OFF
GO
INSERT [Mante].[tbMunicipios] ([Munic_Id], [Munic_Descripcion], [Depar_Id], [Munic_UsuarioCreacion], [Munic_FechaCreacion], [Munic_UsuarioModificacion], [Munic_FechaModificacion], [Munic_Estado]) VALUES (N'0501', N'San Pedro Sula', N'05', 1, CAST(N'2024-02-26T21:51:00.000' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [Mante].[tbPersonas] ON 

SET IDENTITY_INSERT [Mante].[tbPersonas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbCursos__96130F1361D2A443]    Script Date: 2/26/2024 10:55:05 PM ******/
ALTER TABLE [Acade].[tbCursos] ADD UNIQUE NONCLUSTERED 
(
	[Curso_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__tbGenera__EF26F6E4C3F9065B]    Script Date: 2/26/2024 10:55:05 PM ******/
ALTER TABLE [Acade].[tbGeneraciones] ADD UNIQUE NONCLUSTERED 
(
	[Gener_Anhio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbGenera__F58F2374E91B073B]    Script Date: 2/26/2024 10:55:05 PM ******/
ALTER TABLE [Acade].[tbGeneraciones] ADD UNIQUE NONCLUSTERED 
(
	[Gener_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbPantallas_Panta_Id]    Script Date: 2/26/2024 10:55:05 PM ******/
ALTER TABLE [Acces].[tbPantallas] ADD  CONSTRAINT [UQ_tbPantallas_Panta_Id] UNIQUE NONCLUSTERED 
(
	[Panta_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbRoles_Roles_Descripcion]    Script Date: 2/26/2024 10:55:05 PM ******/
ALTER TABLE [Acces].[tbRoles] ADD  CONSTRAINT [UQ_tbRoles_Roles_Descripcion] UNIQUE NONCLUSTERED 
(
	[Roles_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbUsuarios_Usuar_Usuario]    Script Date: 2/26/2024 10:55:05 PM ******/
ALTER TABLE [Acces].[tbUsuarios] ADD  CONSTRAINT [UQ_tbUsuarios_Usuar_Usuario] UNIQUE NONCLUSTERED 
(
	[Usuar_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbActivi__95C1FD2EF546C95E]    Script Date: 2/26/2024 10:55:05 PM ******/
ALTER TABLE [Calif].[tbActividades] ADD UNIQUE NONCLUSTERED 
(
	[Activ_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_tbDepartamentos_Depar_Id]    Script Date: 2/26/2024 10:55:05 PM ******/
ALTER TABLE [Mante].[tbDepartamentos] ADD  CONSTRAINT [PK_tbDepartamentos_Depar_Id] UNIQUE NONCLUSTERED 
(
	[Depar_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbDepartamentos_Depar_Descripcion]    Script Date: 2/26/2024 10:55:05 PM ******/
ALTER TABLE [Mante].[tbDepartamentos] ADD  CONSTRAINT [UQ_tbDepartamentos_Depar_Descripcion] UNIQUE NONCLUSTERED 
(
	[Depar_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbEstadosCiviles_Estci_Descripcion]    Script Date: 2/26/2024 10:55:05 PM ******/
ALTER TABLE [Mante].[tbEstadosCiviles] ADD  CONSTRAINT [UQ_tbEstadosCiviles_Estci_Descripcion] UNIQUE NONCLUSTERED 
(
	[Estci_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Acade].[tbAlumnos] ADD  DEFAULT ((1)) FOR [Alumn_Estado]
GO
ALTER TABLE [Acade].[tbCursos] ADD  DEFAULT ((1)) FOR [Curso_Estado]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] ADD  DEFAULT ((1)) FOR [CuGen_Estado]
GO
ALTER TABLE [Acade].[tbGeneraciones] ADD  DEFAULT ((1)) FOR [Gener_Estado]
GO
ALTER TABLE [Acade].[tbInstructores] ADD  DEFAULT ((1)) FOR [Instr_Estado]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] ADD  DEFAULT ((1)) FOR [InsCG_Estado]
GO
ALTER TABLE [Acces].[tbPantallas] ADD  DEFAULT ((1)) FOR [Panta_Estado]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] ADD  DEFAULT ((1)) FOR [Papro_Estado]
GO
ALTER TABLE [Acces].[tbUsuarios] ADD  DEFAULT ((0)) FOR [Usuar_Admin]
GO
ALTER TABLE [Acces].[tbUsuarios] ADD  DEFAULT ((1)) FOR [Usuar_Estado]
GO
ALTER TABLE [Calif].[tbActividades] ADD  DEFAULT ((1)) FOR [Activ_Estado]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] ADD  DEFAULT ((1)) FOR [ActCG_Estado]
GO
ALTER TABLE [Calif].[tbCalificaciones] ADD  DEFAULT ((1)) FOR [Calif_Estado]
GO
ALTER TABLE [Mante].[tbDepartamentos] ADD  DEFAULT ((1)) FOR [Depar_Estado]
GO
ALTER TABLE [Mante].[tbEstadosCiviles] ADD  DEFAULT ((1)) FOR [Estci_Estado]
GO
ALTER TABLE [Mante].[tbMunicipios] ADD  DEFAULT ((1)) FOR [Munic_Estado]
GO
ALTER TABLE [Mante].[tbPersonas] ADD  DEFAULT ((1)) FOR [Perso_Estado]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbPersonas_Perso_Id] FOREIGN KEY([Perso_Id])
REFERENCES [Mante].[tbPersonas] ([Perso_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbPersonas_Perso_Id]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbUsuarios_5letras_UsuarioCreacion] FOREIGN KEY([Alumn_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbUsuarios_5letras_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbUsuarios_5letras_UsuarioModificacion] FOREIGN KEY([Alumn_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbUsuarios_5letras_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbCursos]  WITH CHECK ADD  CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioCreacion] FOREIGN KEY([Curso_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursos] CHECK CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbCursos]  WITH CHECK ADD  CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioModificacion] FOREIGN KEY([Curso_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursos] CHECK CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbCursos_Curso_Id] FOREIGN KEY([Curso_Id])
REFERENCES [Acade].[tbCursos] ([Curso_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbCursos_Curso_Id]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbGeneraciones_Gener_Id] FOREIGN KEY([Gener_Id])
REFERENCES [Acade].[tbGeneraciones] ([Gener_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbGeneraciones_Gener_Id]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioCreacion] FOREIGN KEY([CuGen_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioModificacion] FOREIGN KEY([CuGen_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbGeneraciones]  WITH CHECK ADD  CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioCreacion] FOREIGN KEY([Gener_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbGeneraciones] CHECK CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbGeneraciones]  WITH CHECK ADD  CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioModificacion] FOREIGN KEY([Gener_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbGeneraciones] CHECK CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_bInstructores_tbPersonas_Perso_Id] FOREIGN KEY([Perso_Id])
REFERENCES [Mante].[tbPersonas] ([Perso_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_bInstructores_tbPersonas_Perso_Id]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioCreacion] FOREIGN KEY([Instr_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioModificacion] FOREIGN KEY([Instr_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id] FOREIGN KEY([CuGen_Id])
REFERENCES [Acade].[tbCursosPorGeneracion] ([CuGen_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbInstructores_Instr_Id] FOREIGN KEY([Instr_Id])
REFERENCES [Acade].[tbInstructores] ([Perso_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbInstructores_Instr_Id]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioCreacion] FOREIGN KEY([InsCG_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioModificacion] FOREIGN KEY([InsCG_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbPantallas]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioCreacion] FOREIGN KEY([Panta_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallas] CHECK CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbPantallas]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioModificacion] FOREIGN KEY([Panta_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallas] CHECK CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbPantallas_Panta_Id] FOREIGN KEY([Panta_Id])
REFERENCES [Acces].[tbPantallas] ([Panta_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbPantallas_Panta_Id]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbRoles_Roles_Id] FOREIGN KEY([Roles_Id])
REFERENCES [Acces].[tbRoles] ([Roles_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbRoles_Roles_Id]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioCreacion] FOREIGN KEY([Papro_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioModificacion] FOREIGN KEY([Papro_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbInstructores_Instr_Id] FOREIGN KEY([Instr_Id])
REFERENCES [Acade].[tbInstructores] ([Perso_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbInstructores_Instr_Id]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbRoles_Roles_Id] FOREIGN KEY([Roles_Id])
REFERENCES [Acces].[tbRoles] ([Roles_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbRoles_Roles_Id]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioCreacion] FOREIGN KEY([Usuar_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioModificacion] FOREIGN KEY([Usuar_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioModificacion]
GO
ALTER TABLE [Calif].[tbActividades]  WITH CHECK ADD  CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioCreacion] FOREIGN KEY([Activ_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividades] CHECK CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioCreacion]
GO
ALTER TABLE [Calif].[tbActividades]  WITH CHECK ADD  CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioModificacion] FOREIGN KEY([Activ_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividades] CHECK CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioModificacion]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbActividades_Activ_Id] FOREIGN KEY([Activ_Id])
REFERENCES [Calif].[tbActividades] ([Activ_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbActividades_Activ_Id]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id] FOREIGN KEY([CuGen_Id])
REFERENCES [Acade].[tbCursosPorGeneracion] ([CuGen_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioCreacion] FOREIGN KEY([ActCG_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioCreacion]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioModificacion] FOREIGN KEY([ActCG_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioModificacion]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbAlumnos_Alumn_Id] FOREIGN KEY([Alumn_Id])
REFERENCES [Acade].[tbAlumnos] ([Perso_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbAlumnos_Alumn_Id]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbCursosPorGeneracion_CuGen_Id] FOREIGN KEY([CuGen_Id])
REFERENCES [Acade].[tbCursosPorGeneracion] ([CuGen_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbCursosPorGeneracion_CuGen_Id]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioCreacion] FOREIGN KEY([Calif_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioCreacion]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioModificacion] FOREIGN KEY([Calif_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbDepartamentos]  WITH CHECK ADD  CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioCreacion] FOREIGN KEY([Depar_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbDepartamentos] CHECK CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbDepartamentos]  WITH CHECK ADD  CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioModificacion] FOREIGN KEY([Depar_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbDepartamentos] CHECK CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbEstadosCiviles]  WITH CHECK ADD  CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioCreacion] FOREIGN KEY([Estci_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbEstadosCiviles] CHECK CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbEstadosCiviles]  WITH CHECK ADD  CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioModificacion] FOREIGN KEY([Estci_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbEstadosCiviles] CHECK CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbMunicipios]  WITH CHECK ADD  CONSTRAINT [FK_tbMunicipios_tbDepartamentos_Depar_Id] FOREIGN KEY([Depar_Id])
REFERENCES [Mante].[tbDepartamentos] ([Depar_Id])
GO
ALTER TABLE [Mante].[tbMunicipios] CHECK CONSTRAINT [FK_tbMunicipios_tbDepartamentos_Depar_Id]
GO
ALTER TABLE [Mante].[tbMunicipios]  WITH CHECK ADD  CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioCreacion] FOREIGN KEY([Munic_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbMunicipios] CHECK CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbMunicipios]  WITH CHECK ADD  CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioModificacion] FOREIGN KEY([Munic_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbMunicipios] CHECK CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbEstadosCiviles_Estci_Id] FOREIGN KEY([Estci_Id])
REFERENCES [Mante].[tbEstadosCiviles] ([Estci_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbEstadosCiviles_Estci_Id]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbMunicipios_Munic_Id] FOREIGN KEY([Munic_Id])
REFERENCES [Mante].[tbMunicipios] ([Munic_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbMunicipios_Munic_Id]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioCreacion] FOREIGN KEY([Perso_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioModificacion] FOREIGN KEY([Perso_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbGeneraciones]  WITH CHECK ADD  CONSTRAINT [CK_tbGeneraciones_Gener_Anhio] CHECK  (([Gener_Anhio]>=(1900)))
GO
ALTER TABLE [Acade].[tbGeneraciones] CHECK CONSTRAINT [CK_tbGeneraciones_Gener_Anhio]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [CK_tbPersonas_Perso_Sexo] CHECK  (([Perso_Sexo]='F' OR [Perso_Sexo]='M'))
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [CK_tbPersonas_Perso_Sexo]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [CK_tbPersonas_Perso_Tipo] CHECK  (([Perso_Tipo]='I' OR [Perso_Tipo]='A'))
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [CK_tbPersonas_Perso_Tipo]
GO
/****** Object:  StoredProcedure [Calif].[SP_tbCalificaciones_SeleccionarPorCursoPorGeneracion]    Script Date: 2/26/2024 10:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Calif].[SP_tbCalificaciones_SeleccionarPorCursoPorGeneracion](
	@CuGen_Id INT
)
AS
BEGIN
	SELECT 
		tbPersonas.Perso_Id AS ALUMNO,
		tbCalificaciones.Calif_Nota AS NOTA,
		tbCursos.Curso_Nombre AS CURSO,
		tbActividadesPorCursoPorGeneracion.ActCG_Nota AS NOTA_ACTIVIDAD,
		tbGeneraciones.Gener_Nombre AS GENERACION
	FROM Calif.tbCalificaciones AS tbCalificaciones INNER JOIN Acade.tbAlumnos AS tbAlumnos
		ON tbCalificaciones.Alumn_Id = tbAlumnos.Perso_Id INNER JOIN Mante.tbPersonas AS tbPersonas
		ON tbPersonas.Perso_Id = tbAlumnos.Perso_Id INNER JOIN Acade.tbCursosPorGeneracion AS tbCursosPorGeneracion
		ON tbCalificaciones.CuGen_Id = tbCursosPorGeneracion.CuGen_Id INNER JOIN Acade.tbCursos AS tbCursos
		ON tbCursosPorGeneracion.Curso_Id = tbCursos.Curso_Id INNER JOIN Acade.tbGeneraciones AS tbGeneraciones
		ON tbCursosPorGeneracion.Gener_Id = tbGeneraciones.Gener_Id INNER JOIN Calif.tbActividadesPorCursoPorGeneracion AS tbActividadesPorCursoPorGeneracion
		ON tbCalificaciones.CuGen_Id = tbActividadesPorCursoPorGeneracion.CuGen_Id INNER JOIN Calif.tbActividades AS tbActividades
		ON tbActividadesPorCursoPorGeneracion.Activ_Id = tbActividades.Activ_Id
	WHERE tbCursosPorGeneracion.CuGen_Id = @CuGen_Id
END
GO
