USE [dbAcademiaProgramadores]
GO
/****** Object:  Schema [Acade]    Script Date: 29/2/2024 07:50:01 ******/
CREATE SCHEMA [Acade]
GO
/****** Object:  Schema [Acces]    Script Date: 29/2/2024 07:50:01 ******/
CREATE SCHEMA [Acces]
GO
/****** Object:  Schema [Calif]    Script Date: 29/2/2024 07:50:01 ******/
CREATE SCHEMA [Calif]
GO
/****** Object:  Schema [Mante]    Script Date: 29/2/2024 07:50:01 ******/
CREATE SCHEMA [Mante]
GO
/****** Object:  Table [Acade].[tbAlumnos]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbAlumnos](
	[Perso_Id] [int] NOT NULL,
	[CenEd_IdColegio] [int] NOT NULL,
	[CenEd_IdUniversidad] [int] NOT NULL,
	[Titul_Id] [int] NOT NULL,
	[Alumn_UsuarioCreacion] [int] NOT NULL,
	[Alumn_FechaCreacion] [datetime] NOT NULL,
	[Alumn_UsuarioModificacion] [int] NULL,
	[Alumn_FechaModificacion] [datetime] NULL,
	[Alumn_Estado] [bit] NOT NULL,
	[Alumn_Observaciones] [varchar](150) NOT NULL,
	[Alumn_FechaIngreso] [datetime] NOT NULL,
 CONSTRAINT [PK_tbAlumnos_Perso_Id] PRIMARY KEY CLUSTERED 
(
	[Perso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbCategorias]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbCategorias](
	[Categ_Id] [int] IDENTITY(1,1) NOT NULL,
	[Categ_Nombre] [varchar](30) NOT NULL,
	[Categ_UsuarioCreacion] [int] NOT NULL,
	[Categ_FechaCreacion] [datetime] NOT NULL,
	[Categ_UsuarioModificacion] [int] NULL,
	[Categ_FechaModificacion] [datetime] NULL,
	[Categ_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCategorias_Categ_Id] PRIMARY KEY CLUSTERED 
(
	[Categ_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbCursos]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbCursos](
	[Curso_Id] [int] IDENTITY(1,1) NOT NULL,
	[Curso_Nombre] [varchar](30) NOT NULL,
	[Categ_Id] [int] NOT NULL,
	[Curso_UsuarioCreacion] [int] NOT NULL,
	[Curso_FechaCreacion] [datetime] NOT NULL,
	[Curso_UsuarioModificacion] [int] NULL,
	[Curso_FechaModificacion] [datetime] NULL,
	[Curso_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCursos_Curso_Id] PRIMARY KEY CLUSTERED 
(
	[Curso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbCursosPorGeneracion]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbCursosPorGeneracion](
	[CuGen_Id] [int] IDENTITY(1,1) NOT NULL,
	[Curso_Id] [int] NOT NULL,
	[Gener_Id] [int] NOT NULL,
	[CuGen_UsuarioCreacion] [int] NOT NULL,
	[CuGen_FechaCreacion] [datetime] NOT NULL,
	[CuGen_UsuarioModificacion] [int] NULL,
	[CuGen_FechaModificacion] [datetime] NULL,
	[CuGen_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCursosPorGeneracion_CuGen_Id] PRIMARY KEY CLUSTERED 
(
	[CuGen_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbGeneraciones]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbGeneraciones](
	[Gener_Id] [int] IDENTITY(1,1) NOT NULL,
	[Gener_Nombre] [varchar](30) NOT NULL,
	[Gener_Anhio] [int] NOT NULL,
	[Gener_UsuarioCreacion] [int] NOT NULL,
	[Gener_FechaCreacion] [datetime] NOT NULL,
	[Gener_UsuarioModificacion] [int] NULL,
	[Gener_FechaModificacion] [datetime] NULL,
	[Gener_Estado] [bit] NOT NULL,
	[Gener_FechaInicio] [datetime] NOT NULL,
	[Gener_FechaFin] [datetime] NULL,
 CONSTRAINT [PK_tbGeneraciones_Gener_Id] PRIMARY KEY CLUSTERED 
(
	[Gener_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbInstructores]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbInstructores](
	[Perso_Id] [int] NOT NULL,
	[Titul_Id] [int] NOT NULL,
	[CenEd_Id] [int] NOT NULL,
	[Instr_UsuarioCreacion] [int] NOT NULL,
	[Instr_FechaCreacion] [datetime] NOT NULL,
	[Instr_UsuarioModificacion] [int] NULL,
	[Instr_FechaModificacion] [datetime] NULL,
	[Instr_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbInstructores_Perso_Id] PRIMARY KEY CLUSTERED 
(
	[Perso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbInstructoresPorCursoPorGeneracion]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbInstructoresPorCursoPorGeneracion](
	[InsCG_Id] [int] IDENTITY(1,1) NOT NULL,
	[Instr_Id] [int] NOT NULL,
	[CuGen_Id] [int] NOT NULL,
	[InsCG_UsuarioCreacion] [int] NOT NULL,
	[InsCG_FechaCreacion] [datetime] NOT NULL,
	[InsCG_UsuarioModificacion] [int] NULL,
	[InsCG_FechaModificacion] [datetime] NULL,
	[InsCG_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbInstructoresPorCursoPorGeneracion_InsCG_Id] PRIMARY KEY CLUSTERED 
(
	[InsCG_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbPantallas]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbPantallas](
	[Panta_Id] [int] IDENTITY(1,1) NOT NULL,
	[Panta_Descripcion] [varchar](30) NOT NULL,
	[Panta_UsuarioCreacion] [int] NOT NULL,
	[Panta_FechaCreacion] [datetime] NOT NULL,
	[Panta_UsuarioModificacion] [int] NULL,
	[Panta_FechaModificacion] [datetime] NULL,
	[Panta_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbPantallas_Panta_Id] PRIMARY KEY CLUSTERED 
(
	[Panta_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbPantallasPorRoles]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbPantallasPorRoles](
	[Papro_Id] [int] IDENTITY(1,1) NOT NULL,
	[Panta_Id] [int] NOT NULL,
	[Roles_Id] [int] NOT NULL,
	[Papro_UsuarioCreacion] [int] NOT NULL,
	[Papro_FechaCreacion] [datetime] NOT NULL,
	[Papro_UsuarioModificacion] [int] NULL,
	[Papro_FechaModificacion] [datetime] NULL,
	[Papro_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbPantallasPorRoles_Paxro_Id] PRIMARY KEY CLUSTERED 
(
	[Papro_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbRoles]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbRoles](
	[Roles_Id] [int] IDENTITY(1,1) NOT NULL,
	[Roles_Descripcion] [varchar](30) NOT NULL,
	[Roles_UsuarioCreacion] [int] NOT NULL,
	[Roles_UsuarioModificacion] [int] NULL,
	[Roles_FechaCreacion] [datetime] NOT NULL,
	[Roles_FechaModificacion] [datetime] NULL,
	[Roles_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbRoles_Roles_Descripcion] PRIMARY KEY CLUSTERED 
(
	[Roles_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbUsuarios]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbUsuarios](
	[Usuar_Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuar_Usuario] [varchar](50) NOT NULL,
	[Usuar_Contrasena] [varchar](max) NOT NULL,
	[Usuar_UltimaSesion] [datetime] NULL,
	[Instr_Id] [int] NOT NULL,
	[Roles_Id] [int] NOT NULL,
	[Usuar_Admin] [bit] NOT NULL,
	[Usuar_UsuarioCreacion] [int] NOT NULL,
	[Usuar_FechaCreacion] [datetime] NOT NULL,
	[Usuar_UsuarioModificacion] [int] NULL,
	[Usuar_FechaModificacion] [datetime] NULL,
	[Usuar_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbUsuarios_Usuar_Id] PRIMARY KEY CLUSTERED 
(
	[Usuar_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Calif].[tbActividades]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Calif].[tbActividades](
	[Activ_Id] [int] IDENTITY(1,1) NOT NULL,
	[Activ_Nombre] [varchar](30) NOT NULL,
	[Activ_UsuarioCreacion] [int] NOT NULL,
	[Activ_FechaCreacion] [datetime] NOT NULL,
	[Activ_UsuarioModificacion] [int] NULL,
	[Activ_FechaModificacion] [datetime] NULL,
	[Activ_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbActividades_Activ_Id] PRIMARY KEY CLUSTERED 
(
	[Activ_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Calif].[tbActividadesPorCursoPorGeneracion]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Calif].[tbActividadesPorCursoPorGeneracion](
	[ActCG_Id] [int] IDENTITY(1,1) NOT NULL,
	[Activ_Id] [int] NOT NULL,
	[CuGen_Id] [int] NOT NULL,
	[ActCG_Nota] [numeric](4, 2) NOT NULL,
	[ActCG_UsuarioCreacion] [int] NOT NULL,
	[ActCG_FechaCreacion] [datetime] NOT NULL,
	[ActCG_UsuarioModificacion] [int] NULL,
	[ActCG_FechaModificacion] [datetime] NULL,
	[ActCG_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbActividadesPorCursoPorGeneracion_ActCG_Id] PRIMARY KEY CLUSTERED 
(
	[ActCG_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Calif].[tbCalificaciones]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Calif].[tbCalificaciones](
	[Calif_Id] [int] IDENTITY(1,1) NOT NULL,
	[AcCG_Id] [int] NOT NULL,
	[Alumn_Id] [int] NOT NULL,
	[Calif_Nota] [numeric](4, 2) NOT NULL,
	[Calif_UsuarioCreacion] [int] NOT NULL,
	[Calif_FechaCreacion] [datetime] NOT NULL,
	[Calif_UsuarioModificacion] [int] NULL,
	[Calif_FechaModificacion] [datetime] NULL,
	[Calif_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCalificaciones_Calif_Id] PRIMARY KEY CLUSTERED 
(
	[Calif_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbCentrosEducativos]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbCentrosEducativos](
	[CenEd_Id] [int] IDENTITY(1,1) NOT NULL,
	[CenEd_Nombre] [varchar](30) NOT NULL,
	[CenEd_Direccion] [varchar](150) NOT NULL,
	[CenEd_Tipo] [char](1) NOT NULL,
	[Munic_Id] [varchar](4) NOT NULL,
	[CenEd_UsuarioCreacion] [int] NOT NULL,
	[CenEd_FechaCreacion] [datetime] NOT NULL,
	[CenEd_UsuarioModificacion] [int] NULL,
	[CenEd_FechaModificacion] [datetime] NULL,
	[CenEd_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCentrosEducativos_CenEd_Id] PRIMARY KEY CLUSTERED 
(
	[CenEd_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbDepartamentos]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbDepartamentos](
	[Depar_Id] [char](2) NOT NULL,
	[Depar_Descripcion] [varchar](50) NOT NULL,
	[Depar_UsuarioCreacion] [int] NOT NULL,
	[Depar_FechaCreacion] [datetime] NOT NULL,
	[Depar_UsuarioModificacion] [int] NULL,
	[Depar_FechaModificacion] [datetime] NULL,
	[Depar_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbDepartamentos_Depar_Id] PRIMARY KEY CLUSTERED 
(
	[Depar_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbEstadosCiviles]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbEstadosCiviles](
	[Estci_Id] [int] IDENTITY(1,1) NOT NULL,
	[Estci_Descripcion] [varchar](30) NOT NULL,
	[Estci_UsuarioCreacion] [int] NOT NULL,
	[Estci_FechaCreacion] [datetime] NOT NULL,
	[Estci_UsuarioModificacion] [int] NULL,
	[Estci_FechaModificacion] [datetime] NULL,
	[Estci_Estado] [bit] NULL,
 CONSTRAINT [PK_tbEstadosCiviles_Estci_Id] PRIMARY KEY CLUSTERED 
(
	[Estci_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbMunicipios]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbMunicipios](
	[Munic_Id] [char](4) NOT NULL,
	[Munic_Descripcion] [varchar](50) NOT NULL,
	[Depar_Id] [char](2) NOT NULL,
	[Munic_UsuarioCreacion] [int] NOT NULL,
	[Munic_FechaCreacion] [datetime] NOT NULL,
	[Munic_UsuarioModificacion] [int] NULL,
	[Munic_FechaModificacion] [datetime] NULL,
	[Munic_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbMunicipios_Munic_Id] PRIMARY KEY CLUSTERED 
(
	[Munic_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbPersonas]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbPersonas](
	[Perso_Id] [int] IDENTITY(1,1) NOT NULL,
	[Perso_PrimerNombre] [varchar](30) NOT NULL,
	[Perso_SegundoNombre] [varchar](30) NULL,
	[Perso_PrimerApellido] [varchar](30) NOT NULL,
	[Perso_SegundoApellido] [varchar](30) NULL,
	[Perso_FechaNacimiento] [date] NOT NULL,
	[Perso_Sexo] [char](1) NOT NULL,
	[Estci_Id] [int] NOT NULL,
	[Perso_Direccion] [varchar](max) NOT NULL,
	[Munic_Id] [char](4) NOT NULL,
	[Perso_Telefono] [varchar](15) NOT NULL,
	[Perso_CorreoElectronico] [varchar](max) NOT NULL,
	[Perso_UsuarioCreacion] [int] NOT NULL,
	[Perso_FechaCreacion] [datetime] NOT NULL,
	[Perso_UsuarioModificacion] [int] NULL,
	[Perso_FechaModificacion] [datetime] NULL,
	[Perso_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbPersonas_Perso_Id] PRIMARY KEY CLUSTERED 
(
	[Perso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbTitulos]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbTitulos](
	[Titul_Id] [int] IDENTITY(1,1) NOT NULL,
	[Titul_Nombre] [varchar](60) NOT NULL,
	[Titul_Tipo] [char](2) NOT NULL,
	[Titul_UsuarioCreacion] [int] NOT NULL,
	[Titul_FechaCreacion] [datetime] NOT NULL,
	[Titul_UsuarioModificacion] [int] NULL,
	[Titul_FechaModificacion] [datetime] NULL,
	[Titul_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCentrosEducativos_Titul_Id] PRIMARY KEY CLUSTERED 
(
	[Titul_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Acade].[tbAlumnos] ([Perso_Id], [CenEd_IdColegio], [CenEd_IdUniversidad], [Titul_Id], [Alumn_UsuarioCreacion], [Alumn_FechaCreacion], [Alumn_UsuarioModificacion], [Alumn_FechaModificacion], [Alumn_Estado], [Alumn_Observaciones], [Alumn_FechaIngreso]) VALUES (2, 3, 2, 1, 1, CAST(N'2024-02-26T22:43:00.000' AS DateTime), NULL, NULL, 1, N'-', CAST(N'2023-11-15T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [Acade].[tbCategorias] ON 

INSERT [Acade].[tbCategorias] ([Categ_Id], [Categ_Nombre], [Categ_UsuarioCreacion], [Categ_FechaCreacion], [Categ_UsuarioModificacion], [Categ_FechaModificacion], [Categ_Estado]) VALUES (1, N'PROGRAMACION', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Acade].[tbCategorias] ([Categ_Id], [Categ_Nombre], [Categ_UsuarioCreacion], [Categ_FechaCreacion], [Categ_UsuarioModificacion], [Categ_FechaModificacion], [Categ_Estado]) VALUES (2, N'HABILIDADES BLANDAS', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Acade].[tbCategorias] ([Categ_Id], [Categ_Nombre], [Categ_UsuarioCreacion], [Categ_FechaCreacion], [Categ_UsuarioModificacion], [Categ_FechaModificacion], [Categ_Estado]) VALUES (3, N'ANALISIS DE DATOS', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbCategorias] OFF
GO
SET IDENTITY_INSERT [Acade].[tbCursos] ON 

INSERT [Acade].[tbCursos] ([Curso_Id], [Curso_Nombre], [Categ_Id], [Curso_UsuarioCreacion], [Curso_FechaCreacion], [Curso_UsuarioModificacion], [Curso_FechaModificacion], [Curso_Estado]) VALUES (1, N'Desarrollo En C#', 1, 1, CAST(N'2024-02-26T22:38:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbCursos] OFF
GO
SET IDENTITY_INSERT [Acade].[tbCursosPorGeneracion] ON 

INSERT [Acade].[tbCursosPorGeneracion] ([CuGen_Id], [Curso_Id], [Gener_Id], [CuGen_UsuarioCreacion], [CuGen_FechaCreacion], [CuGen_UsuarioModificacion], [CuGen_FechaModificacion], [CuGen_Estado]) VALUES (1, 1, 1, 1, CAST(N'2024-02-26T22:45:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbCursosPorGeneracion] OFF
GO
SET IDENTITY_INSERT [Acade].[tbGeneraciones] ON 

INSERT [Acade].[tbGeneraciones] ([Gener_Id], [Gener_Nombre], [Gener_Anhio], [Gener_UsuarioCreacion], [Gener_FechaCreacion], [Gener_UsuarioModificacion], [Gener_FechaModificacion], [Gener_Estado], [Gener_FechaInicio], [Gener_FechaFin]) VALUES (1, N'7ma Generacion', 2024, 1, CAST(N'2024-02-26T22:45:00.000' AS DateTime), NULL, NULL, 1, CAST(N'2023-11-15T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [Acade].[tbGeneraciones] OFF
GO
INSERT [Acade].[tbInstructores] ([Perso_Id], [Titul_Id], [CenEd_Id], [Instr_UsuarioCreacion], [Instr_FechaCreacion], [Instr_UsuarioModificacion], [Instr_FechaModificacion], [Instr_Estado]) VALUES (1, 1, 1, 1, CAST(N'2024-02-26T21:58:00.000' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [Acade].[tbInstructoresPorCursoPorGeneracion] ON 

INSERT [Acade].[tbInstructoresPorCursoPorGeneracion] ([InsCG_Id], [Instr_Id], [CuGen_Id], [InsCG_UsuarioCreacion], [InsCG_FechaCreacion], [InsCG_UsuarioModificacion], [InsCG_FechaModificacion], [InsCG_Estado]) VALUES (1, 1, 1, 1, CAST(N'2024-02-26T22:48:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbInstructoresPorCursoPorGeneracion] OFF
GO
SET IDENTITY_INSERT [Acces].[tbPantallas] ON 

INSERT [Acces].[tbPantallas] ([Panta_Id], [Panta_Descripcion], [Panta_UsuarioCreacion], [Panta_FechaCreacion], [Panta_UsuarioModificacion], [Panta_FechaModificacion], [Panta_Estado]) VALUES (1, N'Vistas', 1, CAST(N'2024-02-26T22:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acces].[tbPantallas] OFF
GO
SET IDENTITY_INSERT [Acces].[tbPantallasPorRoles] ON 

INSERT [Acces].[tbPantallasPorRoles] ([Papro_Id], [Panta_Id], [Roles_Id], [Papro_UsuarioCreacion], [Papro_FechaCreacion], [Papro_UsuarioModificacion], [Papro_FechaModificacion], [Papro_Estado]) VALUES (1, 1, 2, 1, CAST(N'2024-02-26T10:11:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acces].[tbPantallasPorRoles] OFF
GO
SET IDENTITY_INSERT [Acces].[tbRoles] ON 

INSERT [Acces].[tbRoles] ([Roles_Id], [Roles_Descripcion], [Roles_UsuarioCreacion], [Roles_UsuarioModificacion], [Roles_FechaCreacion], [Roles_FechaModificacion], [Roles_Estado]) VALUES (1, N'Auditoria', 1, NULL, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, 1)
INSERT [Acces].[tbRoles] ([Roles_Id], [Roles_Descripcion], [Roles_UsuarioCreacion], [Roles_UsuarioModificacion], [Roles_FechaCreacion], [Roles_FechaModificacion], [Roles_Estado]) VALUES (2, N'Instructor', 1, NULL, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, 1)
INSERT [Acces].[tbRoles] ([Roles_Id], [Roles_Descripcion], [Roles_UsuarioCreacion], [Roles_UsuarioModificacion], [Roles_FechaCreacion], [Roles_FechaModificacion], [Roles_Estado]) VALUES (3, N'Reporteria', 1, NULL, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [Acces].[tbRoles] OFF
GO
SET IDENTITY_INSERT [Acces].[tbUsuarios] ON 

INSERT [Acces].[tbUsuarios] ([Usuar_Id], [Usuar_Usuario], [Usuar_Contrasena], [Usuar_UltimaSesion], [Instr_Id], [Roles_Id], [Usuar_Admin], [Usuar_UsuarioCreacion], [Usuar_FechaCreacion], [Usuar_UsuarioModificacion], [Usuar_FechaModificacion], [Usuar_Estado]) VALUES (1, N'admin', N'0x7FCF4BA391C48784EDDE599889D6E3F1E47A27DB36ECC050CC92F259BFAC38AFAD2C68A1AE804D77075E8FB722503F3ECA2B2C1006EE6F6C7B7628CB45FFFD1D', NULL, 1, 1, 1, 1, CAST(N'2024-02-26T19:26:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acces].[tbUsuarios] OFF
GO
SET IDENTITY_INSERT [Calif].[tbActividades] ON 

INSERT [Calif].[tbActividades] ([Activ_Id], [Activ_Nombre], [Activ_UsuarioCreacion], [Activ_FechaCreacion], [Activ_UsuarioModificacion], [Activ_FechaModificacion], [Activ_Estado]) VALUES (1, N'Evaluacion Final', 1, CAST(N'2024-02-26T22:50:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Calif].[tbActividades] OFF
GO
SET IDENTITY_INSERT [Calif].[tbActividadesPorCursoPorGeneracion] ON 

INSERT [Calif].[tbActividadesPorCursoPorGeneracion] ([ActCG_Id], [Activ_Id], [CuGen_Id], [ActCG_Nota], [ActCG_UsuarioCreacion], [ActCG_FechaCreacion], [ActCG_UsuarioModificacion], [ActCG_FechaModificacion], [ActCG_Estado]) VALUES (1, 1, 1, CAST(40.00 AS Numeric(4, 2)), 1, CAST(N'2024-02-26T22:50:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Calif].[tbActividadesPorCursoPorGeneracion] OFF
GO
SET IDENTITY_INSERT [Calif].[tbCalificaciones] ON 

INSERT [Calif].[tbCalificaciones] ([Calif_Id], [AcCG_Id], [Alumn_Id], [Calif_Nota], [Calif_UsuarioCreacion], [Calif_FechaCreacion], [Calif_UsuarioModificacion], [Calif_FechaModificacion], [Calif_Estado]) VALUES (2, 1, 2, CAST(0.00 AS Numeric(4, 2)), 1, CAST(N'2024-02-26T22:52:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Calif].[tbCalificaciones] OFF
GO
SET IDENTITY_INSERT [Mante].[tbCentrosEducativos] ON 

INSERT [Mante].[tbCentrosEducativos] ([CenEd_Id], [CenEd_Nombre], [CenEd_Direccion], [CenEd_Tipo], [Munic_Id], [CenEd_UsuarioCreacion], [CenEd_FechaCreacion], [CenEd_UsuarioModificacion], [CenEd_FechaModificacion], [CenEd_Estado]) VALUES (1, N'UNITEC', N'15 CALLE 9 AVE S.E.', N'U', N'0501', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbCentrosEducativos] ([CenEd_Id], [CenEd_Nombre], [CenEd_Direccion], [CenEd_Tipo], [Munic_Id], [CenEd_UsuarioCreacion], [CenEd_FechaCreacion], [CenEd_UsuarioModificacion], [CenEd_FechaModificacion], [CenEd_Estado]) VALUES (2, N'UNAH', N'1RA CALLE 5 AVENIDA BULEVAR LOS PROCERES', N'U', N'0501', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbCentrosEducativos] ([CenEd_Id], [CenEd_Nombre], [CenEd_Direccion], [CenEd_Tipo], [Munic_Id], [CenEd_UsuarioCreacion], [CenEd_FechaCreacion], [CenEd_UsuarioModificacion], [CenEd_FechaModificacion], [CenEd_Estado]) VALUES (3, N'LA SALLE', N'POR AHI', N'C', N'0501', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Mante].[tbCentrosEducativos] OFF
GO
INSERT [Mante].[tbDepartamentos] ([Depar_Id], [Depar_Descripcion], [Depar_UsuarioCreacion], [Depar_FechaCreacion], [Depar_UsuarioModificacion], [Depar_FechaModificacion], [Depar_Estado]) VALUES (N'01', N'Atlántida', 1, CAST(N'2024-02-11T12:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbDepartamentos] ([Depar_Id], [Depar_Descripcion], [Depar_UsuarioCreacion], [Depar_FechaCreacion], [Depar_UsuarioModificacion], [Depar_FechaModificacion], [Depar_Estado]) VALUES (N'02', N'Colón', 1, CAST(N'2024-02-11T12:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbDepartamentos] ([Depar_Id], [Depar_Descripcion], [Depar_UsuarioCreacion], [Depar_FechaCreacion], [Depar_UsuarioModificacion], [Depar_FechaModificacion], [Depar_Estado]) VALUES (N'03', N'Comayagua', 1, CAST(N'2024-02-11T12:00:00.000' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [Mante].[tbEstadosCiviles] ON 

INSERT [Mante].[tbEstadosCiviles] ([Estci_Id], [Estci_Descripcion], [Estci_UsuarioCreacion], [Estci_FechaCreacion], [Estci_UsuarioModificacion], [Estci_FechaModificacion], [Estci_Estado]) VALUES (1, N'Soltero', 1, CAST(N'2024-02-26T21:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbEstadosCiviles] ([Estci_Id], [Estci_Descripcion], [Estci_UsuarioCreacion], [Estci_FechaCreacion], [Estci_UsuarioModificacion], [Estci_FechaModificacion], [Estci_Estado]) VALUES (2, N'Casado ', 1, CAST(N'2024-02-26T21:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbEstadosCiviles] ([Estci_Id], [Estci_Descripcion], [Estci_UsuarioCreacion], [Estci_FechaCreacion], [Estci_UsuarioModificacion], [Estci_FechaModificacion], [Estci_Estado]) VALUES (3, N'Union Libre', 1, CAST(N'2024-02-26T21:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Mante].[tbEstadosCiviles] OFF
GO
INSERT [Mante].[tbMunicipios] ([Munic_Id], [Munic_Descripcion], [Depar_Id], [Munic_UsuarioCreacion], [Munic_FechaCreacion], [Munic_UsuarioModificacion], [Munic_FechaModificacion], [Munic_Estado]) VALUES (N'0501', N'San Pedro Sula', N'05', 1, CAST(N'2024-02-26T21:51:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbMunicipios] ([Munic_Id], [Munic_Descripcion], [Depar_Id], [Munic_UsuarioCreacion], [Munic_FechaCreacion], [Munic_UsuarioModificacion], [Munic_FechaModificacion], [Munic_Estado]) VALUES (N'0502', N'Choloma', N'05', 1, CAST(N'2024-02-28T09:55:06.740' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbMunicipios] ([Munic_Id], [Munic_Descripcion], [Depar_Id], [Munic_UsuarioCreacion], [Munic_FechaCreacion], [Munic_UsuarioModificacion], [Munic_FechaModificacion], [Munic_Estado]) VALUES (N'0503', N'noje', N'05', 1, CAST(N'2024-02-28T00:00:00.000' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [Mante].[tbPersonas] ON 

SET IDENTITY_INSERT [Mante].[tbPersonas] OFF
GO
SET IDENTITY_INSERT [Mante].[tbTitulos] ON 

INSERT [Mante].[tbTitulos] ([Titul_Id], [Titul_Nombre], [Titul_Tipo], [Titul_UsuarioCreacion], [Titul_FechaCreacion], [Titul_UsuarioModificacion], [Titul_FechaModificacion], [Titul_Estado]) VALUES (1, N'Maestria en Gestion de la Tecnologia de la Informacion', N'PO', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Mante].[tbTitulos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbCursos__96130F134C79E035]    Script Date: 29/2/2024 07:50:01 ******/
ALTER TABLE [Acade].[tbCursos] ADD  CONSTRAINT [UQ__tbCursos__96130F134C79E035] UNIQUE NONCLUSTERED 
(
	[Curso_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__tbGenera__EF26F6E439DAF2D9]    Script Date: 29/2/2024 07:50:01 ******/
ALTER TABLE [Acade].[tbGeneraciones] ADD  CONSTRAINT [UQ__tbGenera__EF26F6E439DAF2D9] UNIQUE NONCLUSTERED 
(
	[Gener_Anhio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbGenera__F58F23740B93A423]    Script Date: 29/2/2024 07:50:01 ******/
ALTER TABLE [Acade].[tbGeneraciones] ADD  CONSTRAINT [UQ__tbGenera__F58F23740B93A423] UNIQUE NONCLUSTERED 
(
	[Gener_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbPantallas_Panta_Id]    Script Date: 29/2/2024 07:50:01 ******/
ALTER TABLE [Acces].[tbPantallas] ADD  CONSTRAINT [UQ_tbPantallas_Panta_Id] UNIQUE NONCLUSTERED 
(
	[Panta_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbRoles_Roles_Descripcion]    Script Date: 29/2/2024 07:50:01 ******/
ALTER TABLE [Acces].[tbRoles] ADD  CONSTRAINT [UQ_tbRoles_Roles_Descripcion] UNIQUE NONCLUSTERED 
(
	[Roles_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbUsuarios_Usuar_Usuario]    Script Date: 29/2/2024 07:50:01 ******/
ALTER TABLE [Acces].[tbUsuarios] ADD  CONSTRAINT [UQ_tbUsuarios_Usuar_Usuario] UNIQUE NONCLUSTERED 
(
	[Usuar_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbActivi__95C1FD2EFF3C674E]    Script Date: 29/2/2024 07:50:01 ******/
ALTER TABLE [Calif].[tbActividades] ADD  CONSTRAINT [UQ__tbActivi__95C1FD2EFF3C674E] UNIQUE NONCLUSTERED 
(
	[Activ_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbDepartamentos_Depar_Descripcion]    Script Date: 29/2/2024 07:50:01 ******/
ALTER TABLE [Mante].[tbDepartamentos] ADD  CONSTRAINT [UQ_tbDepartamentos_Depar_Descripcion] UNIQUE NONCLUSTERED 
(
	[Depar_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbEstadosCiviles_Estci_Descripcion]    Script Date: 29/2/2024 07:50:01 ******/
ALTER TABLE [Mante].[tbEstadosCiviles] ADD  CONSTRAINT [UQ_tbEstadosCiviles_Estci_Descripcion] UNIQUE NONCLUSTERED 
(
	[Estci_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Acade].[tbAlumnos] ADD  CONSTRAINT [DF__tbAlumnos__Alumn__5EBF139D]  DEFAULT ((1)) FOR [Alumn_Estado]
GO
ALTER TABLE [Acade].[tbAlumnos] ADD  CONSTRAINT [DF_tbAlumnos_Alumn_Observaciones]  DEFAULT ('-') FOR [Alumn_Observaciones]
GO
ALTER TABLE [Acade].[tbCategorias] ADD  DEFAULT ((1)) FOR [Categ_Estado]
GO
ALTER TABLE [Acade].[tbCursos] ADD  CONSTRAINT [DF__tbCursos__Curso___5FB337D6]  DEFAULT ((1)) FOR [Curso_Estado]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] ADD  CONSTRAINT [DF__tbCursosP__CuGen__60A75C0F]  DEFAULT ((1)) FOR [CuGen_Estado]
GO
ALTER TABLE [Acade].[tbGeneraciones] ADD  CONSTRAINT [DF__tbGenerac__Gener__619B8048]  DEFAULT ((1)) FOR [Gener_Estado]
GO
ALTER TABLE [Acade].[tbInstructores] ADD  CONSTRAINT [DF__tbInstruc__Instr__628FA481]  DEFAULT ((1)) FOR [Instr_Estado]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] ADD  CONSTRAINT [DF__tbInstruc__InsCG__6383C8BA]  DEFAULT ((1)) FOR [InsCG_Estado]
GO
ALTER TABLE [Acces].[tbPantallas] ADD  CONSTRAINT [DF__tbPantall__Panta__6477ECF3]  DEFAULT ((1)) FOR [Panta_Estado]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] ADD  CONSTRAINT [DF__tbPantall__Papro__656C112C]  DEFAULT ((1)) FOR [Papro_Estado]
GO
ALTER TABLE [Acces].[tbRoles] ADD  CONSTRAINT [DF_tbRoles_Roles_Estado]  DEFAULT ((1)) FOR [Roles_Estado]
GO
ALTER TABLE [Acces].[tbUsuarios] ADD  CONSTRAINT [DF__tbUsuario__Usuar__66603565]  DEFAULT ((0)) FOR [Usuar_Admin]
GO
ALTER TABLE [Acces].[tbUsuarios] ADD  CONSTRAINT [DF__tbUsuario__Usuar__6754599E]  DEFAULT ((1)) FOR [Usuar_Estado]
GO
ALTER TABLE [Calif].[tbActividades] ADD  CONSTRAINT [DF__tbActivid__Activ__68487DD7]  DEFAULT ((1)) FOR [Activ_Estado]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] ADD  CONSTRAINT [DF__tbActivid__ActCG__693CA210]  DEFAULT ((1)) FOR [ActCG_Estado]
GO
ALTER TABLE [Calif].[tbCalificaciones] ADD  CONSTRAINT [DF_tbCalificaciones_Calif_Nota]  DEFAULT ((0)) FOR [Calif_Nota]
GO
ALTER TABLE [Calif].[tbCalificaciones] ADD  CONSTRAINT [DF__tbCalific__Calif__6A30C649]  DEFAULT ((1)) FOR [Calif_Estado]
GO
ALTER TABLE [Mante].[tbCentrosEducativos] ADD  CONSTRAINT [DF__tbCentros__CenEd__7CD98669]  DEFAULT ((1)) FOR [CenEd_Estado]
GO
ALTER TABLE [Mante].[tbDepartamentos] ADD  CONSTRAINT [DF__tbDeparta__Depar__6B24EA82]  DEFAULT ((1)) FOR [Depar_Estado]
GO
ALTER TABLE [Mante].[tbEstadosCiviles] ADD  DEFAULT ((1)) FOR [Estci_Estado]
GO
ALTER TABLE [Mante].[tbMunicipios] ADD  CONSTRAINT [DF__tbMunicip__Munic__6D0D32F4]  DEFAULT ((1)) FOR [Munic_Estado]
GO
ALTER TABLE [Mante].[tbPersonas] ADD  CONSTRAINT [DF__tbPersona__Perso__6E01572D]  DEFAULT ((1)) FOR [Perso_Estado]
GO
ALTER TABLE [Mante].[tbTitulos] ADD  CONSTRAINT [DF__tbTitulos__Titul__02925FBF]  DEFAULT ((1)) FOR [Titul_Estado]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbCentrosEducativos_CenEd_IdColegio] FOREIGN KEY([CenEd_IdColegio])
REFERENCES [Mante].[tbCentrosEducativos] ([CenEd_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbCentrosEducativos_CenEd_IdColegio]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbCentrosEducativos_CenEd_IdUniversidad] FOREIGN KEY([CenEd_IdUniversidad])
REFERENCES [Mante].[tbCentrosEducativos] ([CenEd_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbCentrosEducativos_CenEd_IdUniversidad]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbPersonas_Perso_Id] FOREIGN KEY([Perso_Id])
REFERENCES [Mante].[tbPersonas] ([Perso_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbPersonas_Perso_Id]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbTitulos_Titul_Id] FOREIGN KEY([Titul_Id])
REFERENCES [Mante].[tbTitulos] ([Titul_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbTitulos_Titul_Id]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbUsuarios_Alumn_UsuarioCreacion] FOREIGN KEY([Alumn_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbUsuarios_Alumn_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbUsuarios_Alumn_UsuarioModificacion] FOREIGN KEY([Alumn_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbUsuarios_Alumn_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbCursos]  WITH CHECK ADD  CONSTRAINT [FK_tbCursos_tbCategorias_Categ_Id] FOREIGN KEY([Categ_Id])
REFERENCES [Acade].[tbCategorias] ([Categ_Id])
GO
ALTER TABLE [Acade].[tbCursos] CHECK CONSTRAINT [FK_tbCursos_tbCategorias_Categ_Id]
GO
ALTER TABLE [Acade].[tbCursos]  WITH CHECK ADD  CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioCreacion] FOREIGN KEY([Curso_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursos] CHECK CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbCursos]  WITH CHECK ADD  CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioModificacion] FOREIGN KEY([Curso_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursos] CHECK CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbCursos_Curso_Id] FOREIGN KEY([Curso_Id])
REFERENCES [Acade].[tbCursos] ([Curso_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbCursos_Curso_Id]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbGeneraciones_Gener_Id] FOREIGN KEY([Gener_Id])
REFERENCES [Acade].[tbGeneraciones] ([Gener_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbGeneraciones_Gener_Id]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioCreacion] FOREIGN KEY([CuGen_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioModificacion] FOREIGN KEY([CuGen_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbGeneraciones]  WITH CHECK ADD  CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioCreacion] FOREIGN KEY([Gener_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbGeneraciones] CHECK CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbGeneraciones]  WITH CHECK ADD  CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioModificacion] FOREIGN KEY([Gener_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbGeneraciones] CHECK CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_bInstructores_tbPersonas_Perso_Id] FOREIGN KEY([Perso_Id])
REFERENCES [Mante].[tbPersonas] ([Perso_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_bInstructores_tbPersonas_Perso_Id]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructores_tbTitulos_Titul_Id] FOREIGN KEY([Titul_Id])
REFERENCES [Mante].[tbTitulos] ([Titul_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_tbInstructores_tbTitulos_Titul_Id]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioCreacion] FOREIGN KEY([Instr_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioModificacion] FOREIGN KEY([Instr_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id] FOREIGN KEY([CuGen_Id])
REFERENCES [Acade].[tbCursosPorGeneracion] ([CuGen_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbInstructores_Instr_Id] FOREIGN KEY([Instr_Id])
REFERENCES [Acade].[tbInstructores] ([Perso_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbInstructores_Instr_Id]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioCreacion] FOREIGN KEY([InsCG_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioModificacion] FOREIGN KEY([InsCG_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbPantallas]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioCreacion] FOREIGN KEY([Panta_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallas] CHECK CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbPantallas]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioModificacion] FOREIGN KEY([Panta_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallas] CHECK CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbPantallas_Panta_Id] FOREIGN KEY([Panta_Id])
REFERENCES [Acces].[tbPantallas] ([Panta_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbPantallas_Panta_Id]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbRoles_Roles_Id] FOREIGN KEY([Roles_Id])
REFERENCES [Acces].[tbRoles] ([Roles_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbRoles_Roles_Id]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioCreacion] FOREIGN KEY([Papro_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioModificacion] FOREIGN KEY([Papro_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbRoles_tbUsuarios_Roles_UsuarioCreacion] FOREIGN KEY([Roles_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbRoles] CHECK CONSTRAINT [FK_tbRoles_tbUsuarios_Roles_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbRoles_tbUsuarios_Roles_UsuarioModificacion] FOREIGN KEY([Roles_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbRoles] CHECK CONSTRAINT [FK_tbRoles_tbUsuarios_Roles_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbInstructores_Instr_Id] FOREIGN KEY([Instr_Id])
REFERENCES [Acade].[tbInstructores] ([Perso_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbInstructores_Instr_Id]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbRoles_Roles_Id] FOREIGN KEY([Roles_Id])
REFERENCES [Acces].[tbRoles] ([Roles_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbRoles_Roles_Id]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioCreacion] FOREIGN KEY([Usuar_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioModificacion] FOREIGN KEY([Usuar_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioModificacion]
GO
ALTER TABLE [Calif].[tbActividades]  WITH CHECK ADD  CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioCreacion] FOREIGN KEY([Activ_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividades] CHECK CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioCreacion]
GO
ALTER TABLE [Calif].[tbActividades]  WITH CHECK ADD  CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioModificacion] FOREIGN KEY([Activ_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividades] CHECK CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioModificacion]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbActividades_Activ_Id] FOREIGN KEY([Activ_Id])
REFERENCES [Calif].[tbActividades] ([Activ_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbActividades_Activ_Id]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id] FOREIGN KEY([CuGen_Id])
REFERENCES [Acade].[tbCursosPorGeneracion] ([CuGen_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioCreacion] FOREIGN KEY([ActCG_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioCreacion]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioModificacion] FOREIGN KEY([ActCG_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioModificacion]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbAlumnos_Alumn_Id] FOREIGN KEY([Alumn_Id])
REFERENCES [Acade].[tbAlumnos] ([Perso_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbAlumnos_Alumn_Id]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbCursosPorGeneracion_AcCG_Id] FOREIGN KEY([AcCG_Id])
REFERENCES [Calif].[tbActividadesPorCursoPorGeneracion] ([ActCG_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbCursosPorGeneracion_AcCG_Id]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioCreacion] FOREIGN KEY([Calif_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioCreacion]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioModificacion] FOREIGN KEY([Calif_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbCentrosEducativos]  WITH CHECK ADD  CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_CenEd_UsuarioCreacion] FOREIGN KEY([CenEd_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbCentrosEducativos] CHECK CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_CenEd_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbCentrosEducativos]  WITH CHECK ADD  CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_CenEd_UsuarioModificacion] FOREIGN KEY([CenEd_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbCentrosEducativos] CHECK CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_CenEd_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbDepartamentos]  WITH CHECK ADD  CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioCreacion] FOREIGN KEY([Depar_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbDepartamentos] CHECK CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbDepartamentos]  WITH CHECK ADD  CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioModificacion] FOREIGN KEY([Depar_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbDepartamentos] CHECK CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbEstadosCiviles]  WITH CHECK ADD  CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioCreacion] FOREIGN KEY([Estci_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbEstadosCiviles] CHECK CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbEstadosCiviles]  WITH CHECK ADD  CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioModificacion] FOREIGN KEY([Estci_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbEstadosCiviles] CHECK CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbMunicipios]  WITH CHECK ADD  CONSTRAINT [FK_tbMunicipios_tbDepartamentos_Depar_Id] FOREIGN KEY([Depar_Id])
REFERENCES [Mante].[tbDepartamentos] ([Depar_Id])
GO
ALTER TABLE [Mante].[tbMunicipios] CHECK CONSTRAINT [FK_tbMunicipios_tbDepartamentos_Depar_Id]
GO
ALTER TABLE [Mante].[tbMunicipios]  WITH CHECK ADD  CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioCreacion] FOREIGN KEY([Munic_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbMunicipios] CHECK CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbMunicipios]  WITH CHECK ADD  CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioModificacion] FOREIGN KEY([Munic_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbMunicipios] CHECK CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbEstadosCiviles_Estci_Id] FOREIGN KEY([Estci_Id])
REFERENCES [Mante].[tbEstadosCiviles] ([Estci_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbEstadosCiviles_Estci_Id]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbMunicipios_Munic_Id] FOREIGN KEY([Munic_Id])
REFERENCES [Mante].[tbMunicipios] ([Munic_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbMunicipios_Munic_Id]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioCreacion] FOREIGN KEY([Perso_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioModificacion] FOREIGN KEY([Perso_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbTitulos]  WITH CHECK ADD  CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_Titul_UsuarioCreacion] FOREIGN KEY([Titul_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbTitulos] CHECK CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_Titul_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbTitulos]  WITH CHECK ADD  CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_Titul_UsuarioModificacion] FOREIGN KEY([Titul_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbTitulos] CHECK CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_Titul_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbGeneraciones]  WITH CHECK ADD  CONSTRAINT [CK_tbGeneraciones_Gener_Anhio] CHECK  (([Gener_Anhio]>=(1900)))
GO
ALTER TABLE [Acade].[tbGeneraciones] CHECK CONSTRAINT [CK_tbGeneraciones_Gener_Anhio]
GO
ALTER TABLE [Mante].[tbCentrosEducativos]  WITH CHECK ADD  CONSTRAINT [CK_tbCentrosEducativos_CenEd_Tipo] CHECK  (([CenEd_Tipo]='N' OR [CenEd_Tipo]='U' OR [CenEd_Tipo]='C'))
GO
ALTER TABLE [Mante].[tbCentrosEducativos] CHECK CONSTRAINT [CK_tbCentrosEducativos_CenEd_Tipo]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [CK_tbPersonas_Perso_Sexo] CHECK  (([Perso_Sexo]='F' OR [Perso_Sexo]='M'))
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [CK_tbPersonas_Perso_Sexo]
GO
ALTER TABLE [Mante].[tbTitulos]  WITH CHECK ADD  CONSTRAINT [CK_tbCentrosEducativos_Titul_Tipo] CHECK  (([Titul_Tipo]='DO' OR [Titul_Tipo]='PO' OR [Titul_Tipo]='PR' OR [Titul_Tipo]='BA'))
GO
ALTER TABLE [Mante].[tbTitulos] CHECK CONSTRAINT [CK_tbCentrosEducativos_Titul_Tipo]
GO
/****** Object:  StoredProcedure [Acade].[SP_tbAlumnos_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbAlumnos_DELETE]
(
	@Perso_Id INT,
	@Alumn_UsuarioModificacion INT,
	@Alumn_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbAlumnos]
	SET
		[Alumn_Estado] = 0,
		[Alumn_UsuarioModificacion] = @Alumn_UsuarioModificacion,
		[Alumn_FechaModificacion] = @Alumn_FechaModificacion
	WHERE
		[Perso_Id] = @Perso_Id

END
GO
/****** Object:  StoredProcedure [Acade].[SP_tbAlumnos_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Alumnos
CREATE PROCEDURE [Acade].[SP_tbAlumnos_INSERT]
(
	@Perso_Id INT,
	@CenEd_IdColegio INT,
	@CenEd_IdUniversidad INT,
	@Titul_Id INT,
	@Alumn_UsuarioCreacion INT,
	@Alumn_FechaCreacion DATETIME,
	@Alumn_Observaciones VARCHAR(150),
	@Alumn_FechaIngreso DATETIME
)
AS
BEGIN

	INSERT INTO [Acade].[tbAlumnos]
	(
		[Perso_Id],
		[CenEd_IdColegio],
		[CenEd_IdUniversidad],
		[Titul_Id],
		[Alumn_UsuarioCreacion],
		[Alumn_FechaCreacion],
		[Alumn_Estado],
		[Alumn_Observaciones],
		[Alumn_FechaIngreso]
	)
	VALUES
	(
		@Perso_Id,
		@CenEd_IdColegio,
		@CenEd_IdUniversidad,
		@Titul_Id,
		@Alumn_UsuarioCreacion,
		@Alumn_FechaCreacion,
		1,
		@Alumn_Observaciones,
		@Alumn_FechaIngreso
	)

END
GO
/****** Object:  StoredProcedure [Acade].[SP_tbAlumnos_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbAlumnos_UPDATE]
(
	@Perso_Id INT,
	@CenEd_IdColegio INT,
	@CenEd_IdUniversidad INT,
	@Titul_Id INT,
	@Alumn_Observaciones VARCHAR(150),
	@Alumn_FechaIngreso DATETIME,
	@Alumn_UsuarioModificacion INT,
	@Alumn_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbAlumnos]
	SET
		[CenEd_IdColegio] = @CenEd_IdColegio,
		[CenEd_IdUniversidad] = @CenEd_IdUniversidad,
		[Titul_Id] = @Titul_Id,
		[Alumn_Observaciones] = @Alumn_Observaciones,
		[Alumn_FechaIngreso] = @Alumn_FechaIngreso,
		[Alumn_UsuarioModificacion] = @Alumn_UsuarioModificacion,
		[Alumn_FechaModificacion] = @Alumn_FechaModificacion
	WHERE
		[Perso_Id] = @Perso_Id

END
GO
/****** Object:  StoredProcedure [Acade].[SP_tbCategorias_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbCategorias_DELETE] (
	@Categ_Id INT,
	@Categ_UsuarioModificacion INT,
	@Categ_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbCategorias]
	SET
		[Categ_Estado] = 0,
		[Categ_UsuarioModificacion] = @Categ_UsuarioModificacion,
		[Categ_FechaModificacion] = @Categ_FechaModificacion
	WHERE
		[Categ_Id] = @Categ_Id

END
GO
/****** Object:  StoredProcedure [Acade].[SP_tbCategorias_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--categorias
CREATE PROCEDURE [Acade].[SP_tbCategorias_INSERT] (
	@Categ_Nombre VARCHAR(30),
	@Categ_UsuarioCreacion INT,
	@Categ_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Acade].[tbCategorias] (
		[Categ_Nombre],
		[Categ_UsuarioCreacion],
		[Categ_FechaCreacion],
		[Categ_Estado]
	)
	VALUES (
		@Categ_Nombre,
		@Categ_UsuarioCreacion,
		@Categ_FechaCreacion,
		1 -- Default value for Categ_Estado
	)

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbCategorias_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbCategorias_UPDATE] (
	@Categ_Id INT,
	@Categ_Nombre VARCHAR(30),
	@Categ_UsuarioModificacion INT,
	@Categ_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbCategorias]
	SET
		[Categ_Nombre] = @Categ_Nombre,
		[Categ_UsuarioModificacion] = @Categ_UsuarioModificacion,
		[Categ_FechaModificacion] = @Categ_FechaModificacion
	WHERE
		[Categ_Id] = @Categ_Id

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbCursos_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbCursos_DELETE] (
	@Curso_Id INT,
	@Curso_UsuarioModificacion INT,
	@Curso_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbCursos]
	SET
		[Curso_Estado] = 0,
		[Curso_UsuarioModificacion] = @Curso_UsuarioModificacion,
		[Curso_FechaModificacion] = @Curso_FechaModificacion
	WHERE
		[Curso_Id] = @Curso_Id

END
GO
/****** Object:  StoredProcedure [Acade].[SP_tbCursos_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--cursos
CREATE PROCEDURE [Acade].[SP_tbCursos_INSERT] (
	@Curso_Nombre VARCHAR(30),
	@Categ_Id INT,
	@Curso_UsuarioCreacion INT,
	@Curso_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Acade].[tbCursos] (
		[Curso_Nombre],
		[Categ_Id],
		[Curso_UsuarioCreacion],
		[Curso_FechaCreacion],
		[Curso_Estado]
	)
	VALUES (
		@Curso_Nombre,
		@Categ_Id,
		@Curso_UsuarioCreacion,
		@Curso_FechaCreacion,
		1 -- Default value for Curso_Estado
	)

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbCursos_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbCursos_UPDATE] (
	@Curso_Id INT,
	@Curso_Nombre VARCHAR(30),
	@Categ_Id INT,
	@Curso_UsuarioModificacion INT,
	@Curso_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbCursos]
	SET
		[Curso_Nombre] = @Curso_Nombre,
		[Categ_Id] = @Categ_Id,
		[Curso_UsuarioModificacion] = @Curso_UsuarioModificacion,
		[Curso_FechaModificacion] = @Curso_FechaModificacion
	WHERE
		[Curso_Id] = @Curso_Id

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbCursosPorGeneracion_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbCursosPorGeneracion_DELETE] (
	@CuGen_Id INT,
	@CuGen_UsuarioModificacion INT,
	@CuGen_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbCursosPorGeneracion]
	SET
		[CuGen_Estado] = 0,
		[CuGen_UsuarioModificacion] = @CuGen_UsuarioModificacion,
		[CuGen_FechaModificacion] = @CuGen_FechaModificacion
	WHERE
		[CuGen_Id] = @CuGen_Id

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbCursosPorGeneracion_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--cursosporgeneraciones
CREATE PROCEDURE [Acade].[SP_tbCursosPorGeneracion_INSERT] (
	@Curso_Id INT,
	@Gener_Id INT,
	@CuGen_UsuarioCreacion INT,
	@CuGen_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Acade].[tbCursosPorGeneracion] (
		[Curso_Id],
		[Gener_Id],
		[CuGen_UsuarioCreacion],
		[CuGen_FechaCreacion],
		[CuGen_Estado]
	)
	VALUES (
		@Curso_Id,
		@Gener_Id,
		@CuGen_UsuarioCreacion,
		@CuGen_FechaCreacion,
		1 -- Default value for CuGen_Estado
	)

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbCursosPorGeneracion_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbCursosPorGeneracion_UPDATE] (
	@CuGen_Id INT,
	@Curso_Id INT,
	@Gener_Id INT,
	@CuGen_UsuarioModificacion INT,
	@CuGen_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbCursosPorGeneracion]
	SET
		[Curso_Id] = @Curso_Id,
		[Gener_Id] = @Gener_Id,
		[CuGen_UsuarioModificacion] = @CuGen_UsuarioModificacion,
		[CuGen_FechaModificacion] = @CuGen_FechaModificacion
	WHERE
		[CuGen_Id] = @CuGen_Id

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbGeneraciones_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbGeneraciones_DELETE] (
	@Gener_Id INT,
	@Gener_UsuarioModificacion INT,
	@Gener_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbGeneraciones]
	SET
		[Gener_Estado] = 0,
		[Gener_UsuarioModificacion] = @Gener_UsuarioModificacion,
		[Gener_FechaModificacion] = @Gener_FechaModificacion
	WHERE
		[Gener_Id] = @Gener_Id

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbGeneraciones_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbGeneraciones_INSERT] (
	@Gener_Nombre VARCHAR(30),
	@Gener_Anhio INT,
	@Gener_UsuarioCreacion INT,
	@Gener_FechaCreacion DATETIME,
	@Gener_FechaInicio DATETIME
)
AS
BEGIN

	INSERT INTO [Acade].[tbGeneraciones] (
		[Gener_Nombre],
		[Gener_Anhio],
		[Gener_UsuarioCreacion],
		[Gener_FechaCreacion],
		[Gener_Estado],
		[Gener_FechaInicio]
	)
	VALUES (
		@Gener_Nombre,
		@Gener_Anhio,
		@Gener_UsuarioCreacion,
		@Gener_FechaCreacion,
		1, -- Default value for Gener_Estado
		@Gener_FechaInicio
	)

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbGeneraciones_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbGeneraciones_UPDATE] (
	@Gener_Id INT,
	@Gener_Nombre VARCHAR(30),
	@Gener_Anhio INT,
	@Gener_UsuarioModificacion INT,
	@Gener_FechaModificacion DATETIME,
	@Gener_FechaInicio DATETIME,
	@Gener_FechaFin DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbGeneraciones]
	SET
		[Gener_Nombre] = @Gener_Nombre,
		[Gener_Anhio] = @Gener_Anhio,
		[Gener_UsuarioModificacion] = @Gener_UsuarioModificacion,
		[Gener_FechaModificacion] = @Gener_FechaModificacion,
		[Gener_FechaInicio] = @Gener_FechaInicio,
		[Gener_FechaFin] = @Gener_FechaFin
	WHERE
		[Gener_Id] = @Gener_Id

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbInstructores_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbInstructores_DELETE] (
	@Perso_Id INT,
	@Instr_UsuarioModificacion INT,
	@Instr_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbInstructores]
	SET
		[Instr_Estado] = 0,
		[Instr_UsuarioModificacion] = @Instr_UsuarioModificacion,
		[Instr_FechaModificacion] = @Instr_FechaModificacion
	WHERE
		[Perso_Id] = @Perso_Id

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbInstructores_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbInstructores_INSERT] (
	@Perso_Id INT,
	@Titul_Id INT,
	@CenEd_Id INT,
	@Instr_UsuarioCreacion INT,
	@Instr_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Acade].[tbInstructores] (
		[Perso_Id],
		[Titul_Id],
		[CenEd_Id],
		[Instr_UsuarioCreacion],
		[Instr_FechaCreacion],
		[Instr_Estado]
	)
	VALUES (
		@Perso_Id,
		@Titul_Id,
		@CenEd_Id,
		@Instr_UsuarioCreacion,
		@Instr_FechaCreacion,
		1 -- Default value for Instr_Estado
	)

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbInstructores_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbInstructores_UPDATE] (
	@Perso_Id INT,
	@Titul_Id INT,
	@CenEd_Id INT,
	@Instr_UsuarioModificacion INT,
	@Instr_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbInstructores]
	SET
		[Titul_Id] = @Titul_Id,
		[CenEd_Id] = @CenEd_Id,
		[Instr_UsuarioModificacion] = @Instr_UsuarioModificacion,
		[Instr_FechaModificacion] = @Instr_FechaModificacion
	WHERE
		[Perso_Id] = @Perso_Id

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbInstructoresPorCursoPorGeneracion_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbInstructoresPorCursoPorGeneracion_DELETE] (
	@InsCG_Id INT,
	@InsCG_UsuarioModificacion INT,
	@InsCG_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbInstructoresPorCursoPorGeneracion]
	SET
		[InsCG_Estado] = 0,
		[InsCG_UsuarioModificacion] = @InsCG_UsuarioModificacion,
		[InsCG_FechaModificacion] = @InsCG_FechaModificacion
	WHERE
		[InsCG_Id] = @InsCG_Id

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbInstructoresPorCursoPorGeneracion_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbInstructoresPorCursoPorGeneracion_INSERT] (
	@Instr_Id INT,
	@CuGen_Id INT,
	@InsCG_UsuarioCreacion INT,
	@InsCG_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Acade].[tbInstructoresPorCursoPorGeneracion] (
		[Instr_Id],
		[CuGen_Id],
		[InsCG_UsuarioCreacion],
		[InsCG_FechaCreacion],
		[InsCG_Estado]
	)
	VALUES (
		@Instr_Id,
		@CuGen_Id,
		@InsCG_UsuarioCreacion,
		@InsCG_FechaCreacion,
		1 -- Default value for InsCG_Estado
	)

END

GO
/****** Object:  StoredProcedure [Acade].[SP_tbInstructoresPorCursoPorGeneracion_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acade].[SP_tbInstructoresPorCursoPorGeneracion_UPDATE] (
	@InsCG_Id INT,
	@Instr_Id INT,
	@CuGen_Id INT,
	@InsCG_UsuarioModificacion INT,
	@InsCG_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acade].[tbInstructoresPorCursoPorGeneracion]
	SET
		[Instr_Id] = @Instr_Id,
		[CuGen_Id] = @CuGen_Id,
		[InsCG_UsuarioModificacion] = @InsCG_UsuarioModificacion,
		[InsCG_FechaModificacion] = @InsCG_FechaModificacion
	WHERE
		[InsCG_Id] = @InsCG_Id

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbPantallas_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbPantallas_DELETE] (
	@Panta_Id INT,
	@Panta_UsuarioModificacion INT,
	@Panta_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acces].[tbPantallas]
	SET
		[Panta_Estado] = 0,
		[Panta_UsuarioModificacion] = @Panta_UsuarioModificacion,
		[Panta_FechaModificacion] = @Panta_FechaModificacion
	WHERE
		[Panta_Id] = @Panta_Id

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbPantallas_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbPantallas_INSERT] (
	@Panta_Descripcion VARCHAR(30),
	@Panta_UsuarioCreacion INT,
	@Panta_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Acces].[tbPantallas] (
		[Panta_Descripcion],
		[Panta_UsuarioCreacion],
		[Panta_FechaCreacion],
		[Panta_Estado]
	)
	VALUES (
		@Panta_Descripcion,
		@Panta_UsuarioCreacion,
		@Panta_FechaCreacion,
		1 -- Default value for Panta_Estado
	)

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbPantallas_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbPantallas_UPDATE] (
	@Panta_Id INT,
	@Panta_Descripcion VARCHAR(30),
	@Panta_UsuarioModificacion INT,
	@Panta_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acces].[tbPantallas]
	SET
		[Panta_Descripcion] = @Panta_Descripcion,
		[Panta_UsuarioModificacion] = @Panta_UsuarioModificacion,
		[Panta_FechaModificacion] = @Panta_FechaModificacion
	WHERE
		[Panta_Id] = @Panta_Id

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbPantallasPorRoles_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbPantallasPorRoles_DELETE] (
	@Papro_Id INT,
	@Papro_UsuarioModificacion INT,
	@Papro_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acces].[tbPantallasPorRoles]
	SET
		[Papro_Estado] = 0,
		[Papro_UsuarioModificacion] = @Papro_UsuarioModificacion,
		[Papro_FechaModificacion] = @Papro_FechaModificacion
	WHERE
		[Papro_Id] = @Papro_Id

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbPantallasPorRoles_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbPantallasPorRoles_INSERT] (
	@Panta_Id INT,
	@Roles_Id INT,
	@Papro_UsuarioCreacion INT,
	@Papro_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Acces].[tbPantallasPorRoles] (
		[Panta_Id],
		[Roles_Id],
		[Papro_UsuarioCreacion],
		[Papro_FechaCreacion],
		[Papro_Estado]
	)
	VALUES (
		@Panta_Id,
		@Roles_Id,
		@Papro_UsuarioCreacion,
		@Papro_FechaCreacion,
		1 -- Default value for Papro_Estado
	)

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbPantallasPorRoles_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbPantallasPorRoles_UPDATE] (
	@Papro_Id INT,
	@Panta_Id INT,
	@Roles_Id INT,
	@Papro_UsuarioModificacion INT,
	@Papro_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acces].[tbPantallasPorRoles]
	SET
		[Panta_Id] = @Panta_Id,
		[Roles_Id] = @Roles_Id,
		[Papro_UsuarioModificacion] = @Papro_UsuarioModificacion,
		[Papro_FechaModificacion] = @Papro_FechaModificacion
	WHERE
		[Papro_Id] = @Papro_Id

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbRoles_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbRoles_DELETE] (
	@Roles_Id INT,
	@Roles_UsuarioModificacion INT,
	@Roles_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acces].[tbRoles]
	SET
		[Roles_Estado] = 0,
		[Roles_UsuarioModificacion] = @Roles_UsuarioModificacion,
		[Roles_FechaModificacion] = @Roles_FechaModificacion
	WHERE
		[Roles_Id] = @Roles_Id

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbRoles_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbRoles_INSERT] (
	@Roles_Descripcion VARCHAR(30),
	@Roles_UsuarioCreacion INT,
	@Roles_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Acces].[tbRoles] (
		[Roles_Descripcion],
		[Roles_UsuarioCreacion],
		[Roles_FechaCreacion],
		[Roles_Estado]
	)
	VALUES (
		@Roles_Descripcion,
		@Roles_UsuarioCreacion,
		@Roles_FechaCreacion,
		1 -- Default value for Roles_Estado
	)

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbRoles_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbRoles_UPDATE] (
	@Roles_Id INT,
	@Roles_Descripcion VARCHAR(30),
	@Roles_UsuarioModificacion INT,
	@Roles_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acces].[tbRoles]
	SET
		[Roles_Descripcion] = @Roles_Descripcion,
		[Roles_UsuarioModificacion] = @Roles_UsuarioModificacion,
		[Roles_FechaModificacion] = @Roles_FechaModificacion
	WHERE
		[Roles_Id] = @Roles_Id

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbUsuarios_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbUsuarios_DELETE] (
	@Usuar_Id INT,
	@Usuar_UsuarioModificacion INT,
	@Usuar_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Acces].[tbUsuarios]
	SET
		[Usuar_Estado] = 0,
		[Usuar_UsuarioModificacion] = @Usuar_UsuarioModificacion,
		[Usuar_FechaModificacion] = @Usuar_FechaModificacion
	WHERE
		[Usuar_Id] = @Usuar_Id

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbUsuarios_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbUsuarios_INSERT] (
	@Usuar_Usuario VARCHAR(50),
	@Usuar_Contrasena NVARCHAR(MAX), -- Use NVARCHAR for better password storage
	@Instr_Id INT,
	@Roles_Id INT,
	@Usuar_Admin BIT ,
	@Usuar_UsuarioCreacion INT ,
	@Usuar_FechaCreacion DATETIME
)
AS
BEGIN

	-- Hash the password before storing it in the database
	DECLARE @HashedPassword VARBINARY(MAX);
	SET @HashedPassword = HASHBYTES('SHA2_512', @Usuar_Contrasena);

	INSERT INTO [Acces].[tbUsuarios] (
		[Usuar_Usuario],
		[Usuar_Contrasena], -- Store the hashed password
		[Instr_Id],
		[Roles_Id],
		[Usuar_Admin],
		[Usuar_UsuarioCreacion],
		[Usuar_FechaCreacion],
		[Usuar_Estado]
	)
	VALUES (
		@Usuar_Usuario,
		@HashedPassword,
		@Instr_Id,
		@Roles_Id,
		@Usuar_Admin,
		@Usuar_UsuarioCreacion,
		@Usuar_FechaCreacion,
		1 -- Default value for Usuar_Estado
	)

END

GO
/****** Object:  StoredProcedure [Acces].[SP_tbUsuarios_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Acces].[SP_tbUsuarios_UPDATE] (
	@Usuar_Id INT,
	@Usuar_Usuario VARCHAR(50),
	@New_Usuar_Contrasena NVARCHAR(MAX), -- Use NVARCHAR for password
	@Instr_Id INT,
	@Roles_Id INT,
	@Usuar_Admin BIT,
	@Usuar_UsuarioModificacion INT,
	@Usuar_FechaModificacion DATETIME
)
AS
BEGIN

	DECLARE @HashedPassword NVARCHAR(MAX);

	-- If a new password is provided, hash it before updating
	IF @New_Usuar_Contrasena IS NOT NULL 
	BEGIN
		SET @HashedPassword = HASHBYTES('SHA2_512', @New_Usuar_Contrasena);
	END
	ELSE
	BEGIN
		-- If no new password is provided, avoid unnecessary updates
		SELECT @HashedPassword = Usuar_Contrasena FROM [Acces].[tbUsuarios] WHERE Usuar_Id = @Usuar_Id;
	END

	UPDATE [Acces].[tbUsuarios]
	SET
		[Usuar_Usuario] = @Usuar_Usuario,
		[Usuar_Contrasena] = @HashedPassword, -- Update with hashed password
		[Instr_Id] = @Instr_Id,
		[Roles_Id] = @Roles_Id,
		[Usuar_Admin] = @Usuar_Admin,
		[Usuar_UsuarioModificacion] = @Usuar_UsuarioModificacion,
		[Usuar_FechaModificacion] = @Usuar_FechaModificacion
	WHERE
		[Usuar_Id] = @Usuar_Id

END

GO
/****** Object:  StoredProcedure [Calif].[SP_tbActividades_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Calif].[SP_tbActividades_DELETE] (
	@Activ_Id INT,
	@Activ_UsuarioModificacion INT,
	@Activ_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Calif].[tbActividades]
	SET
		[Activ_Estado] = 0,
		[Activ_UsuarioModificacion] = @Activ_UsuarioModificacion,
		[Activ_FechaModificacion] = @Activ_FechaModificacion
	WHERE
		[Activ_Id] = @Activ_Id

END

GO
/****** Object:  StoredProcedure [Calif].[SP_tbActividades_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Calif].[SP_tbActividades_INSERT] (
	@Activ_Nombre VARCHAR(30),
	@Activ_UsuarioCreacion INT,
	@Activ_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Calif].[tbActividades] (
		[Activ_Nombre],
		[Activ_UsuarioCreacion],
		[Activ_FechaCreacion],
		[Activ_Estado]
	)
	VALUES (
		@Activ_Nombre,
		@Activ_UsuarioCreacion,
		@Activ_FechaCreacion,
		1 -- Default value for Activ_Estado
	)

END
GO
/****** Object:  StoredProcedure [Calif].[SP_tbActividades_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Calif].[SP_tbActividades_UPDATE] (
	@Activ_Id INT,
	@Activ_Nombre VARCHAR(30),
	@Activ_UsuarioModificacion INT,
	@Activ_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Calif].[tbActividades]
	SET
		[Activ_Nombre] = @Activ_Nombre,
		[Activ_UsuarioModificacion] = @Activ_UsuarioModificacion,
		[Activ_FechaModificacion] = @Activ_FechaModificacion
	WHERE
		[Activ_Id] = @Activ_Id

END

GO
/****** Object:  StoredProcedure [Calif].[SP_tbActividadesPorCursoPorGeneracion_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Calif].[SP_tbActividadesPorCursoPorGeneracion_DELETE] (
	@ActCG_Id INT,
	@ActCG_UsuarioModificacion INT,
	@ActCG_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Calif].[tbActividadesPorCursoPorGeneracion]
	SET
		[ActCG_Estado] = 0,
		[ActCG_UsuarioModificacion] = @ActCG_UsuarioModificacion,
		[ActCG_FechaModificacion] = @ActCG_FechaModificacion
	WHERE
		[ActCG_Id] = @ActCG_Id

END

GO
/****** Object:  StoredProcedure [Calif].[SP_tbActividadesPorCursoPorGeneracion_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Calif].[SP_tbActividadesPorCursoPorGeneracion_INSERT] (
	@Activ_Id INT,
	@CuGen_Id INT,
	@ActCG_Nota NUMERIC(4, 2),
	@ActCG_UsuarioCreacion INT,
	@ActCG_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Calif].[tbActividadesPorCursoPorGeneracion] (
		[Activ_Id],
		[CuGen_Id],
		[ActCG_Nota],
		[ActCG_UsuarioCreacion],
		[ActCG_FechaCreacion],
		[ActCG_Estado]
	)
	VALUES (
		@Activ_Id,
		@CuGen_Id,
		@ActCG_Nota,
		@ActCG_UsuarioCreacion,
		@ActCG_FechaCreacion,
		1 -- Default value for ActCG_Estado
	)

END

GO
/****** Object:  StoredProcedure [Calif].[SP_tbActividadesPorCursoPorGeneracion_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Calif].[SP_tbActividadesPorCursoPorGeneracion_UPDATE] (
	@ActCG_Id INT,
	@Activ_Id INT,
	@CuGen_Id INT,
	@ActCG_Nota NUMERIC(4, 2),
	@ActCG_UsuarioModificacion INT,
	@ActCG_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Calif].[tbActividadesPorCursoPorGeneracion]
	SET
		[Activ_Id] = @Activ_Id,
		[CuGen_Id] = @CuGen_Id,
		[ActCG_Nota] = @ActCG_Nota,
		[ActCG_UsuarioModificacion] = @ActCG_UsuarioModificacion,
		[ActCG_FechaModificacion] = @ActCG_FechaModificacion
	WHERE
		[ActCG_Id] = @ActCG_Id

END
GO
/****** Object:  StoredProcedure [Calif].[SP_tbCalificaciones_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbCalificaciones_DELETE
CREATE PROCEDURE [Calif].[SP_tbCalificaciones_DELETE] (
	@Calif_Id INT,
	@Calif_UsuarioModificacion INT,
	@Calif_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Calif].[tbCalificaciones]
	SET
		[Calif_Estado] = 0,
		[Calif_UsuarioModificacion] = @Calif_UsuarioModificacion,
		[Calif_FechaModificacion] = @Calif_FechaModificacion
	WHERE
		[Calif_Id] = @Calif_Id

END

GO
/****** Object:  StoredProcedure [Calif].[SP_tbCalificaciones_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Calif].[SP_tbCalificaciones_INSERT] (
	@AcCG_Id INT,
	@Alumn_Id INT,
	@Calif_Nota NUMERIC(4, 2),
	@Calif_UsuarioCreacion INT,
	@Calif_FechaCreacion DATETIME
)
AS
BEGIN
	INSERT INTO [Calif].[tbCalificaciones] (
		[AcCG_Id],
		[Alumn_Id],
		[Calif_Nota],
		[Calif_UsuarioCreacion],
		[Calif_FechaCreacion],
		[Calif_Estado]
	)
	VALUES (
		@AcCG_Id,
		@Alumn_Id,
		@Calif_Nota,
		@Calif_UsuarioCreacion,
		@Calif_FechaCreacion,
		1 -- Default value for Calif_Estado
	)

END

GO
/****** Object:  StoredProcedure [Calif].[SP_tbCalificaciones_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbCalificaciones_UPDATE
CREATE PROCEDURE [Calif].[SP_tbCalificaciones_UPDATE] (
	@Calif_Id INT,
	@AcCG_Id INT,
	@Alumn_Id INT,
	@Calif_Nota NUMERIC(4, 2),
	@Calif_UsuarioModificacion INT,
	@Calif_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Calif].[tbCalificaciones]
	SET
		[AcCG_Id] = @AcCG_Id,
		[Alumn_Id] = @Alumn_Id,
		[Calif_Nota] = @Calif_Nota,
		[Calif_UsuarioModificacion] = @Calif_UsuarioModificacion,
		[Calif_FechaModificacion] = @Calif_FechaModificacion
	WHERE
		[Calif_Id] = @Calif_Id

END
GO
/****** Object:  StoredProcedure [Mante].[SP_tbCentrosEducativos_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbCentrosEducativos_DELETE
CREATE PROCEDURE [Mante].[SP_tbCentrosEducativos_DELETE] (
	@CenEd_Id INT,
	@CenEd_UsuarioModificacion INT,
	@CenEd_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbCentrosEducativos]
	SET
		[CenEd_Estado] = 0,
		[CenEd_UsuarioModificacion] = @CenEd_UsuarioModificacion,
		[CenEd_FechaModificacion] = @CenEd_FechaModificacion
	WHERE
		[CenEd_Id] = @CenEd_Id

END

GO
/****** Object:  StoredProcedure [Mante].[SP_tbCentrosEducativos_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Mante].[SP_tbCentrosEducativos_INSERT] (
	@CenEd_Nombre VARCHAR(30),
	@CenEd_Direccion VARCHAR(150),
	@CenEd_Tipo CHAR(1),
	@Munic_Id VARCHAR(4),
	@CenEd_UsuarioCreacion INT,
	@CenEd_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Mante].[tbCentrosEducativos] (
		[CenEd_Nombre],
		[CenEd_Direccion],
		[CenEd_Tipo],
		[Munic_Id],
		[CenEd_UsuarioCreacion],
		[CenEd_FechaCreacion],
		[CenEd_Estado]
	)
	VALUES (
		@CenEd_Nombre,
		@CenEd_Direccion,
		@CenEd_Tipo,
		@Munic_Id,
		@CenEd_UsuarioCreacion,
		@CenEd_FechaCreacion,
		1 -- Default value for CenEd_Estado
	)

END
GO
/****** Object:  StoredProcedure [Mante].[SP_tbCentrosEducativos_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Mante].[SP_tbCentrosEducativos_UPDATE] (
	@CenEd_Id INT,
	@CenEd_Nombre VARCHAR(30),
	@CenEd_Direccion VARCHAR(150),
	@CenEd_Tipo CHAR(1),
	@Munic_Id VARCHAR(4),
	@CenEd_UsuarioModificacion INT,
	@CenEd_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbCentrosEducativos]
	SET
		[CenEd_Nombre] = @CenEd_Nombre,
		[CenEd_Direccion] = @CenEd_Direccion,
		[CenEd_Tipo] = @CenEd_Tipo,
		[Munic_Id] = @Munic_Id,
		[CenEd_UsuarioModificacion] = @CenEd_UsuarioModificacion,
		[CenEd_FechaModificacion] = @CenEd_FechaModificacion
	WHERE
		[CenEd_Id] = @CenEd_Id

END
GO
/****** Object:  StoredProcedure [Mante].[SP_tbDepartamentos_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbDepartamentos_DELETE
CREATE PROCEDURE [Mante].[SP_tbDepartamentos_DELETE] (
	@Depar_Id CHAR(2) ,
	@Depar_UsuarioModificacion INT,
	@Depar_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbDepartamentos]
	SET
		[Depar_Estado] = 0,
		[Depar_UsuarioModificacion] = @Depar_UsuarioModificacion,
		[Depar_FechaModificacion] = @Depar_FechaModificacion
	WHERE
		[Depar_Id] = @Depar_Id

END

GO
/****** Object:  StoredProcedure [Mante].[SP_tbDepartamentos_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbDepartamentos_INSERT
CREATE PROCEDURE [Mante].[SP_tbDepartamentos_INSERT] (
	@Depar_Id CHAR(2) ,
	@Depar_Descripcion VARCHAR(50) ,
	@Depar_UsuarioCreacion INT ,
	@Depar_FechaCreacion DATETIME 
)
AS
BEGIN

	INSERT INTO [Mante].[tbDepartamentos] (
		[Depar_Id],
		[Depar_Descripcion],
		[Depar_UsuarioCreacion],
		[Depar_FechaCreacion],
		[Depar_Estado]
	)
	VALUES (
		@Depar_Id,
		@Depar_Descripcion,
		@Depar_UsuarioCreacion,
		@Depar_FechaCreacion,
		1 -- Default value for Depar_Estado
	)

END

GO
/****** Object:  StoredProcedure [Mante].[SP_tbDepartamentos_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbDepartamentos_UPDATE
CREATE PROCEDURE [Mante].[SP_tbDepartamentos_UPDATE] (
	@Depar_Id CHAR(2) ,
	@Depar_Descripcion VARCHAR(50) ,
	@Depar_UsuarioModificacion INT,
	@Depar_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbDepartamentos]
	SET
		[Depar_Descripcion] = @Depar_Descripcion,
		[Depar_UsuarioModificacion] = @Depar_UsuarioModificacion,
		[Depar_FechaModificacion] = @Depar_FechaModificacion
	WHERE
		[Depar_Id] = @Depar_Id

END

GO
/****** Object:  StoredProcedure [Mante].[SP_tbEstadosCiviles_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbEstadosCiviles_DELETE
CREATE PROCEDURE [Mante].[SP_tbEstadosCiviles_DELETE] (
	@Estci_Id INT,
	@Estci_UsuarioModificacion INT,
	@Estci_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbEstadosCiviles]
	SET
		[Estci_Estado] = 0,
		[Estci_UsuarioModificacion] = @Estci_UsuarioModificacion,
		[Estci_FechaModificacion] = @Estci_FechaModificacion
	WHERE
		[Estci_Id] = @Estci_Id

END

GO
/****** Object:  StoredProcedure [Mante].[SP_tbEstadosCiviles_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Mante].[SP_tbEstadosCiviles_INSERT] (
	@Estci_Descripcion VARCHAR(30),
	@Estci_UsuarioCreacion INT,
	@Estci_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Mante].[tbEstadosCiviles] (
		[Estci_Descripcion],
		[Estci_UsuarioCreacion],
		[Estci_FechaCreacion],
		[Estci_Estado]
	)
	VALUES (
		@Estci_Descripcion,
		@Estci_UsuarioCreacion,
		@Estci_FechaCreacion,
		1 -- Default value for Estci_Estado
	)

END

GO
/****** Object:  StoredProcedure [Mante].[SP_tbEstadosCiviles_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbEstadosCiviles_UPDATE
CREATE PROCEDURE [Mante].[SP_tbEstadosCiviles_UPDATE] (
	@Estci_Id INT,
	@Estci_Descripcion VARCHAR(30),
	@Estci_UsuarioModificacion INT,
	@Estci_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbEstadosCiviles]
	SET
		[Estci_Descripcion] = @Estci_Descripcion,
		[Estci_UsuarioModificacion] = @Estci_UsuarioModificacion,
		[Estci_FechaModificacion] = @Estci_FechaModificacion
	WHERE
		[Estci_Id] = @Estci_Id

END
GO
/****** Object:  StoredProcedure [Mante].[SP_tbMunicipios_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Mante].[SP_tbMunicipios_DELETE] (
	@Munic_Id CHAR(4),
	@Munic_UsuarioModificacion INT,
	@Munic_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbMunicipios]
	SET
		[Munic_Estado] = 0,
		[Munic_UsuarioModificacion] = @Munic_UsuarioModificacion,
		[Munic_FechaModificacion] = @Munic_FechaModificacion
	WHERE
		[Munic_Id] = @Munic_Id

END
GO
/****** Object:  StoredProcedure [Mante].[SP_tbMunicipios_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbMunicipios_INSERT
CREATE PROCEDURE [Mante].[SP_tbMunicipios_INSERT] (
	@Munic_Id CHAR(4),
	@Munic_Descripcion VARCHAR(50),
	@Depar_Id CHAR(2),
	@Munic_UsuarioCreacion INT,
	@Munic_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Mante].[tbMunicipios] (
		[Munic_Id],
		[Munic_Descripcion],
		[Depar_Id],
		[Munic_UsuarioCreacion],
		[Munic_FechaCreacion],
		[Munic_Estado]
	)
	VALUES (
		@Munic_Id,
		@Munic_Descripcion,
		@Depar_Id,
		@Munic_UsuarioCreacion,
		@Munic_FechaCreacion,
		1 -- Default value for Munic_Estado
	)

END

GO
/****** Object:  StoredProcedure [Mante].[SP_tbMunicipios_INSERTAR]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Mante].[SP_tbMunicipios_INSERTAR]	
(
	@Munic_Id VARCHAR(4),
	@Munic_Descripcion VARCHAR(50),
	@Depar_Id VARCHAR(2),
	@Munic_UsuarioCreacion INT,
	@Munic_FechaCreacion DATETIME
)
AS 
BEGIN
	INSERT INTO Mante.tbMunicipios(Munic_Id, Munic_Descripcion, Depar_Id, Munic_UsuarioCreacion, Munic_FechaCreacion)
	VALUES(@Munic_Id, @Munic_Descripcion, @Depar_Id, @Munic_UsuarioCreacion, @Munic_FechaCreacion)
END
GO
/****** Object:  StoredProcedure [Mante].[SP_tbMunicipios_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbMunicipios_UPDATE
CREATE PROCEDURE [Mante].[SP_tbMunicipios_UPDATE] (
	@Munic_Id CHAR(4),
	@Munic_Descripcion VARCHAR(50),
	@Depar_Id CHAR(2),
	@Munic_UsuarioModificacion INT,
	@Munic_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbMunicipios]
	SET
		[Munic_Descripcion] = @Munic_Descripcion,
		[Depar_Id] = @Depar_Id,
		[Munic_UsuarioModificacion] = @Munic_UsuarioModificacion,
		[Munic_FechaModificacion] = @Munic_FechaModificacion
	WHERE
		[Munic_Id] = @Munic_Id

END
GO
/****** Object:  StoredProcedure [Mante].[SP_tbPersonas_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbPersonas_DELETE
CREATE PROCEDURE [Mante].[SP_tbPersonas_DELETE] (
	@Perso_Id INT,
	@Perso_UsuarioModificacion INT,
	@Perso_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbPersonas]
	SET
		[Perso_Estado] = 0,
		[Perso_UsuarioModificacion] = @Perso_UsuarioModificacion,
		[Perso_FechaModificacion] = @Perso_FechaModificacion
	WHERE
		[Perso_Id] = @Perso_Id

END

GO
/****** Object:  StoredProcedure [Mante].[SP_tbPersonas_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Mante].[SP_tbPersonas_INSERT] (
	@Perso_PrimerNombre VARCHAR(30),
	@Perso_SegundoNombre VARCHAR(30),
	@Perso_PrimerApellido VARCHAR(30),
	@Perso_SegundoApellido VARCHAR(30),
	@Perso_FechaNacimiento DATE,
	@Perso_Sexo CHAR(1),
	@Estci_Id INT,
	@Perso_Direccion VARCHAR(MAX),
	@Munic_Id CHAR(4),
	@Perso_Telefono VARCHAR(15),
	@Perso_CorreoElectronico VARCHAR(MAX),
	@Perso_UsuarioCreacion INT,
	@Perso_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Mante].[tbPersonas] (
		[Perso_PrimerNombre],
		[Perso_SegundoNombre],
		[Perso_PrimerApellido],
		[Perso_SegundoApellido],
		[Perso_FechaNacimiento],
		[Perso_Sexo],
		[Estci_Id],
		[Perso_Direccion],
		[Munic_Id],
		[Perso_Telefono],
		[Perso_CorreoElectronico],
		[Perso_UsuarioCreacion],
		[Perso_FechaCreacion],
		[Perso_Estado]
	)
	VALUES (
		@Perso_PrimerNombre,
		@Perso_SegundoNombre,
		@Perso_PrimerApellido,
		@Perso_SegundoApellido,
		@Perso_FechaNacimiento,
		@Perso_Sexo,
		@Estci_Id,
		@Perso_Direccion,
		@Munic_Id,
		@Perso_Telefono,
		@Perso_CorreoElectronico,
		@Perso_UsuarioCreacion,
		@Perso_FechaCreacion,
		1 -- Default value for Perso_Estado
	)

END
GO
/****** Object:  StoredProcedure [Mante].[SP_tbPersonas_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Mante].[SP_tbPersonas_UPDATE] (
	@Perso_Id INT,
	@Perso_PrimerNombre VARCHAR(30),
	@Perso_SegundoNombre VARCHAR(30),
	@Perso_PrimerApellido VARCHAR(30),
	@Perso_SegundoApellido VARCHAR(30),
	@Perso_FechaNacimiento DATE,
	@Perso_Sexo CHAR(1),
	@Estci_Id INT,
	@Perso_Direccion VARCHAR(MAX),
	@Munic_Id CHAR(4),
	@Perso_Telefono VARCHAR(15),
	@Perso_CorreoElectronico VARCHAR(MAX),
	@Perso_UsuarioModificacion INT,
	@Perso_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbPersonas]
	SET
		[Perso_PrimerNombre] = @Perso_PrimerNombre,
		[Perso_SegundoNombre] = @Perso_SegundoNombre,
		[Perso_PrimerApellido] = @Perso_PrimerApellido,
		[Perso_SegundoApellido] = @Perso_SegundoApellido,
		[Perso_FechaNacimiento] = @Perso_FechaNacimiento,
		[Perso_Sexo] = @Perso_Sexo,
		[Estci_Id] = @Estci_Id,
		[Perso_Direccion] = @Perso_Direccion,
		[Munic_Id] = @Munic_Id,
		[Perso_Telefono] = @Perso_Telefono,
		[Perso_CorreoElectronico] = @Perso_CorreoElectronico,
		[Perso_UsuarioModificacion] = @Perso_UsuarioModificacion,
		[Perso_FechaModificacion] = @Perso_FechaModificacion
	WHERE
		[Perso_Id] = @Perso_Id

END
GO
/****** Object:  StoredProcedure [Mante].[SP_tbTitulos_DELETE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbTitulos_DELETE
CREATE PROCEDURE [Mante].[SP_tbTitulos_DELETE] (
	@Titul_Id INT,
	@Titul_UsuarioModificacion INT,
	@Titul_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbTitulos]
	SET
		[Titul_Estado] = 0,
		[Titul_UsuarioModificacion] = @Titul_UsuarioModificacion,
		[Titul_FechaModificacion] = @Titul_FechaModificacion
	WHERE
		[Titul_Id] = @Titul_Id

END

GO
/****** Object:  StoredProcedure [Mante].[SP_tbTitulos_INSERT]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Mante].[SP_tbTitulos_INSERT] (
	@Titul_Nombre VARCHAR(60),
	@Titul_Tipo CHAR(2),
	@Titul_UsuarioCreacion INT,
	@Titul_FechaCreacion DATETIME
)
AS
BEGIN

	INSERT INTO [Mante].[tbTitulos] (
		[Titul_Nombre],
		[Titul_Tipo],
		[Titul_UsuarioCreacion],
		[Titul_FechaCreacion],
		[Titul_Estado]
	)
	VALUES (
		@Titul_Nombre,
		@Titul_Tipo,
		@Titul_UsuarioCreacion,
		@Titul_FechaCreacion,
		1 -- Default value for Titul_Estado
	)

END

GO
/****** Object:  StoredProcedure [Mante].[SP_tbTitulos_UPDATE]    Script Date: 29/2/2024 07:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_tbTitulos_UPDATE
CREATE PROCEDURE [Mante].[SP_tbTitulos_UPDATE] (
	@Titul_Id INT,
	@Titul_Nombre VARCHAR(60),
	@Titul_Tipo CHAR(2),
	@Titul_UsuarioModificacion INT,
	@Titul_FechaModificacion DATETIME
)
AS
BEGIN

	UPDATE [Mante].[tbTitulos]
	SET
		[Titul_Nombre] = @Titul_Nombre,
		[Titul_Tipo] = @Titul_Tipo,
		[Titul_UsuarioModificacion] = @Titul_UsuarioModificacion,
		[Titul_FechaModificacion] = @Titul_FechaModificacion
	WHERE
		[Titul_Id] = @Titul_Id

END
GO
