USE [master]
GO
/****** Object:  Database [dbAcademiaProgramadores]    Script Date: 27/2/2024 15:21:30 ******/
CREATE DATABASE [dbAcademiaProgramadores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbAcademiaProgramadores', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbAcademiaProgramadores.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbAcademiaProgramadores_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbAcademiaProgramadores_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbAcademiaProgramadores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbAcademiaProgramadores]
GO
/****** Object:  User [victor4]    Script Date: 27/2/2024 15:21:30 ******/
CREATE USER [victor4] FOR LOGIN [victor4] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [victor4]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [victor4]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [victor4]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [victor4]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [victor4]
GO
ALTER ROLE [db_datareader] ADD MEMBER [victor4]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [victor4]
GO
/****** Object:  Schema [Acade]    Script Date: 27/2/2024 15:21:30 ******/
CREATE SCHEMA [Acade]
GO
/****** Object:  Schema [Acces]    Script Date: 27/2/2024 15:21:30 ******/
CREATE SCHEMA [Acces]
GO
/****** Object:  Schema [Calif]    Script Date: 27/2/2024 15:21:30 ******/
CREATE SCHEMA [Calif]
GO
/****** Object:  Schema [Mante]    Script Date: 27/2/2024 15:21:30 ******/
CREATE SCHEMA [Mante]
GO
/****** Object:  Table [Acade].[tbAlumnos]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbAlumnos](
	[Perso_Id] [int] NOT NULL,
	[CenEd_IdColegio] [int] NOT NULL,
	[CenEd_IdUniversidad] [int] NOT NULL,
	[Titul_Id] [int] NOT NULL,
	[Alumn_UsuarioCreacion] [int] NOT NULL,
	[Alumn_FechaCreacion] [datetime] NOT NULL,
	[Alumn_UsuarioModificacion] [int] NULL,
	[Alumn_FechaModificacion] [datetime] NULL,
	[Alumn_Estado] [bit] NOT NULL,
	[Alumn_Observaciones] [varchar](150) NOT NULL,
	[Alumn_FechaIngreso] [datetime] NOT NULL,
 CONSTRAINT [PK_tbAlumnos_Perso_Id] PRIMARY KEY CLUSTERED 
(
	[Perso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbCategorias]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbCategorias](
	[Categ_Id] [int] IDENTITY(1,1) NOT NULL,
	[Categ_Nombre] [varchar](30) NOT NULL,
	[Categ_UsuarioCreacion] [int] NOT NULL,
	[Categ_FechaCreacion] [datetime] NOT NULL,
	[Categ_UsuarioModificacion] [int] NULL,
	[Categ_FechaModificacion] [datetime] NULL,
	[Categ_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCategorias_Categ_Id] PRIMARY KEY CLUSTERED 
(
	[Categ_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbCursos]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbCursos](
	[Curso_Id] [int] IDENTITY(1,1) NOT NULL,
	[Curso_Nombre] [varchar](30) NOT NULL,
	[Categ_Id] [int] NOT NULL,
	[Curso_UsuarioCreacion] [int] NOT NULL,
	[Curso_FechaCreacion] [datetime] NOT NULL,
	[Curso_UsuarioModificacion] [int] NULL,
	[Curso_FechaModificacion] [datetime] NULL,
	[Curso_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCursos_Curso_Id] PRIMARY KEY CLUSTERED 
(
	[Curso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbCursosPorGeneracion]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbCursosPorGeneracion](
	[CuGen_Id] [int] IDENTITY(1,1) NOT NULL,
	[Curso_Id] [int] NOT NULL,
	[Gener_Id] [int] NOT NULL,
	[CuGen_UsuarioCreacion] [int] NOT NULL,
	[CuGen_FechaCreacion] [datetime] NOT NULL,
	[CuGen_UsuarioModificacion] [int] NULL,
	[CuGen_FechaModificacion] [datetime] NULL,
	[CuGen_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCursosPorGeneracion_CuGen_Id] PRIMARY KEY CLUSTERED 
(
	[CuGen_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbGeneraciones]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbGeneraciones](
	[Gener_Id] [int] IDENTITY(1,1) NOT NULL,
	[Gener_Nombre] [varchar](30) NOT NULL,
	[Gener_Anhio] [int] NOT NULL,
	[Gener_UsuarioCreacion] [int] NOT NULL,
	[Gener_FechaCreacion] [datetime] NOT NULL,
	[Gener_UsuarioModificacion] [int] NULL,
	[Gener_FechaModificacion] [datetime] NULL,
	[Gener_Estado] [bit] NOT NULL,
	[Gener_FechaInicio] [datetime] NOT NULL,
	[Gener_FechaFin] [datetime] NULL,
 CONSTRAINT [PK_tbGeneraciones_Gener_Id] PRIMARY KEY CLUSTERED 
(
	[Gener_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbInstructores]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbInstructores](
	[Perso_Id] [int] NOT NULL,
	[Titul_Id] [int] NOT NULL,
	[CenEd_Id] [int] NOT NULL,
	[Instr_UsuarioCreacion] [int] NOT NULL,
	[Instr_FechaCreacion] [datetime] NOT NULL,
	[Instr_UsuarioModificacion] [int] NULL,
	[Instr_FechaModificacion] [datetime] NULL,
	[Instr_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbInstructores_Perso_Id] PRIMARY KEY CLUSTERED 
(
	[Perso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acade].[tbInstructoresPorCursoPorGeneracion]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acade].[tbInstructoresPorCursoPorGeneracion](
	[InsCG_Id] [int] IDENTITY(1,1) NOT NULL,
	[Instr_Id] [int] NOT NULL,
	[CuGen_Id] [int] NOT NULL,
	[InsCG_UsuarioCreacion] [int] NOT NULL,
	[InsCG_FechaCreacion] [datetime] NOT NULL,
	[InsCG_UsuarioModificacion] [int] NULL,
	[InsCG_FechaModificacion] [datetime] NULL,
	[InsCG_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbInstructoresPorCursoPorGeneracion_InsCG_Id] PRIMARY KEY CLUSTERED 
(
	[InsCG_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbPantallas]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbPantallas](
	[Panta_Id] [int] IDENTITY(1,1) NOT NULL,
	[Panta_Descripcion] [varchar](30) NOT NULL,
	[Panta_UsuarioCreacion] [int] NOT NULL,
	[Panta_FechaCreacion] [datetime] NOT NULL,
	[Panta_UsuarioModificacion] [int] NULL,
	[Panta_FechaModificacion] [datetime] NULL,
	[Panta_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbPantallas_Panta_Id] PRIMARY KEY CLUSTERED 
(
	[Panta_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbPantallasPorRoles]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbPantallasPorRoles](
	[Papro_Id] [int] IDENTITY(1,1) NOT NULL,
	[Panta_Id] [int] NOT NULL,
	[Roles_Id] [int] NOT NULL,
	[Papro_UsuarioCreacion] [int] NOT NULL,
	[Papro_FechaCreacion] [datetime] NOT NULL,
	[Papro_UsuarioModificacion] [int] NULL,
	[Papro_FechaModificacion] [datetime] NULL,
	[Papro_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbPantallasPorRoles_Paxro_Id] PRIMARY KEY CLUSTERED 
(
	[Papro_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbRoles]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbRoles](
	[Roles_Id] [int] IDENTITY(1,1) NOT NULL,
	[Roles_Descripcion] [varchar](30) NOT NULL,
	[Roles_UsuarioCreacion] [int] NOT NULL,
	[Roles_UsuarioModificacion] [int] NULL,
	[Roles_FechaCreacion] [datetime] NOT NULL,
	[Roles_FechaModificacion] [datetime] NULL,
	[Roles_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbRoles_Roles_Descripcion] PRIMARY KEY CLUSTERED 
(
	[Roles_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Acces].[tbUsuarios]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Acces].[tbUsuarios](
	[Usuar_Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuar_Usuario] [varchar](50) NOT NULL,
	[Usuar_Contrasena] [varchar](max) NOT NULL,
	[Usuar_UltimaSesion] [datetime] NULL,
	[Instr_Id] [int] NOT NULL,
	[Roles_Id] [int] NOT NULL,
	[Usuar_Admin] [bit] NOT NULL,
	[Usuar_UsuarioCreacion] [int] NOT NULL,
	[Usuar_FechaCreacion] [datetime] NOT NULL,
	[Usuar_UsuarioModificacion] [int] NULL,
	[Usuar_FechaModificacion] [datetime] NULL,
	[Usuar_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbUsuarios_Usuar_Id] PRIMARY KEY CLUSTERED 
(
	[Usuar_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Calif].[tbActividades]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Calif].[tbActividades](
	[Activ_Id] [int] IDENTITY(1,1) NOT NULL,
	[Activ_Nombre] [varchar](30) NOT NULL,
	[Activ_UsuarioCreacion] [int] NOT NULL,
	[Activ_FechaCreacion] [datetime] NOT NULL,
	[Activ_UsuarioModificacion] [int] NULL,
	[Activ_FechaModificacion] [datetime] NULL,
	[Activ_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbActividades_Activ_Id] PRIMARY KEY CLUSTERED 
(
	[Activ_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Calif].[tbActividadesPorCursoPorGeneracion]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Calif].[tbActividadesPorCursoPorGeneracion](
	[ActCG_Id] [int] IDENTITY(1,1) NOT NULL,
	[Activ_Id] [int] NOT NULL,
	[CuGen_Id] [int] NOT NULL,
	[ActCG_Nota] [numeric](4, 2) NOT NULL,
	[ActCG_UsuarioCreacion] [int] NOT NULL,
	[ActCG_FechaCreacion] [datetime] NOT NULL,
	[ActCG_UsuarioModificacion] [int] NULL,
	[ActCG_FechaModificacion] [datetime] NULL,
	[ActCG_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbActividadesPorCursoPorGeneracion_ActCG_Id] PRIMARY KEY CLUSTERED 
(
	[ActCG_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Calif].[tbCalificaciones]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Calif].[tbCalificaciones](
	[Calif_Id] [int] IDENTITY(1,1) NOT NULL,
	[CuGen_Id] [int] NOT NULL,
	[Alumn_Id] [int] NOT NULL,
	[Calif_Nota] [numeric](4, 2) NOT NULL,
	[Calif_UsuarioCreacion] [int] NOT NULL,
	[Calif_FechaCreacion] [datetime] NOT NULL,
	[Calif_UsuarioModificacion] [int] NULL,
	[Calif_FechaModificacion] [datetime] NULL,
	[Calif_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCalificaciones_Calif_Id] PRIMARY KEY CLUSTERED 
(
	[Calif_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbCentrosEducativos]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbCentrosEducativos](
	[CenEd_Id] [int] IDENTITY(1,1) NOT NULL,
	[CenEd_Nombre] [varchar](30) NOT NULL,
	[CenEd_Direccion] [varchar](150) NOT NULL,
	[CenEd_Tipo] [char](1) NOT NULL,
	[Munic_Id] [varchar](4) NOT NULL,
	[CenEd_UsuarioCreacion] [int] NOT NULL,
	[CenEd_FechaCreacion] [datetime] NOT NULL,
	[CenEd_UsuarioModificacion] [int] NULL,
	[CenEd_FechaModificacion] [datetime] NULL,
	[CenEd_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCentrosEducativos_CenEd_Id] PRIMARY KEY CLUSTERED 
(
	[CenEd_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbDepartamentos]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbDepartamentos](
	[Depar_Id] [char](2) NOT NULL,
	[Depar_Descripcion] [varchar](50) NOT NULL,
	[Depar_UsuarioCreacion] [int] NOT NULL,
	[Depar_FechaCreacion] [datetime] NOT NULL,
	[Depar_UsuarioModificacion] [int] NULL,
	[Depar_FechaModificacion] [datetime] NULL,
	[Depar_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbDepartamentos_Depar_Id] PRIMARY KEY CLUSTERED 
(
	[Depar_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbEstadosCiviles]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbEstadosCiviles](
	[Estci_Id] [int] IDENTITY(1,1) NOT NULL,
	[Estci_Descripcion] [varchar](30) NOT NULL,
	[Estci_UsuarioCreacion] [int] NOT NULL,
	[Estci_FechaCreacion] [datetime] NOT NULL,
	[Estci_UsuarioModificacion] [int] NULL,
	[Estci_FechaModificacion] [datetime] NULL,
	[Estci_Estado] [bit] NULL,
 CONSTRAINT [PK_tbEstadosCiviles_Estci_Id] PRIMARY KEY CLUSTERED 
(
	[Estci_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbMunicipios]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbMunicipios](
	[Munic_Id] [char](4) NOT NULL,
	[Munic_Descripcion] [varchar](50) NOT NULL,
	[Depar_Id] [char](2) NOT NULL,
	[Munic_UsuarioCreacion] [int] NOT NULL,
	[Munic_FechaCreacion] [datetime] NOT NULL,
	[Munic_UsuarioModificacion] [int] NULL,
	[Munic_FechaModificacion] [datetime] NULL,
	[Munic_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbMunicipios_Munic_Id] PRIMARY KEY CLUSTERED 
(
	[Munic_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbPersonas]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbPersonas](
	[Perso_Id] [int] IDENTITY(1,1) NOT NULL,
	[Perso_PrimerNombre] [varchar](30) NOT NULL,
	[Perso_SegundoNombre] [varchar](30) NULL,
	[Perso_PrimerApellido] [varchar](30) NOT NULL,
	[Perso_SegundoApellido] [varchar](30) NULL,
	[Perso_FechaNacimiento] [date] NOT NULL,
	[Perso_Sexo] [char](1) NOT NULL,
	[Estci_Id] [int] NOT NULL,
	[Perso_Direccion] [varchar](max) NOT NULL,
	[Munic_Id] [char](4) NOT NULL,
	[Perso_Telefono] [varchar](15) NOT NULL,
	[Perso_CorreoElectronico] [varchar](max) NOT NULL,
	[Perso_UsuarioCreacion] [int] NOT NULL,
	[Perso_FechaCreacion] [datetime] NOT NULL,
	[Perso_UsuarioModificacion] [int] NULL,
	[Perso_FechaModificacion] [datetime] NULL,
	[Perso_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbPersonas_Perso_Id] PRIMARY KEY CLUSTERED 
(
	[Perso_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Mante].[tbTitulos]    Script Date: 27/2/2024 15:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mante].[tbTitulos](
	[Titul_Id] [int] IDENTITY(1,1) NOT NULL,
	[Titul_Nombre] [varchar](60) NOT NULL,
	[Titul_Tipo] [char](2) NOT NULL,
	[Titul_UsuarioCreacion] [int] NOT NULL,
	[Titul_FechaCreacion] [datetime] NOT NULL,
	[Titul_UsuarioModificacion] [int] NULL,
	[Titul_FechaModificacion] [datetime] NULL,
	[Titul_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCentrosEducativos_Titul_Id] PRIMARY KEY CLUSTERED 
(
	[Titul_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Acade].[tbAlumnos] ([Perso_Id], [CenEd_IdColegio], [CenEd_IdUniversidad], [Titul_Id], [Alumn_UsuarioCreacion], [Alumn_FechaCreacion], [Alumn_UsuarioModificacion], [Alumn_FechaModificacion], [Alumn_Estado], [Alumn_Observaciones], [Alumn_FechaIngreso]) VALUES (2, 3, 2, 1, 1, CAST(N'2024-02-26T22:43:00.000' AS DateTime), NULL, NULL, 1, N'-', CAST(N'2023-11-15T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [Acade].[tbCategorias] ON 

INSERT [Acade].[tbCategorias] ([Categ_Id], [Categ_Nombre], [Categ_UsuarioCreacion], [Categ_FechaCreacion], [Categ_UsuarioModificacion], [Categ_FechaModificacion], [Categ_Estado]) VALUES (1, N'PROGRAMACION', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Acade].[tbCategorias] ([Categ_Id], [Categ_Nombre], [Categ_UsuarioCreacion], [Categ_FechaCreacion], [Categ_UsuarioModificacion], [Categ_FechaModificacion], [Categ_Estado]) VALUES (2, N'HABILIDADES BLANDAS', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Acade].[tbCategorias] ([Categ_Id], [Categ_Nombre], [Categ_UsuarioCreacion], [Categ_FechaCreacion], [Categ_UsuarioModificacion], [Categ_FechaModificacion], [Categ_Estado]) VALUES (3, N'ANALISIS DE DATOS', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbCategorias] OFF
GO
SET IDENTITY_INSERT [Acade].[tbCursos] ON 

INSERT [Acade].[tbCursos] ([Curso_Id], [Curso_Nombre], [Categ_Id], [Curso_UsuarioCreacion], [Curso_FechaCreacion], [Curso_UsuarioModificacion], [Curso_FechaModificacion], [Curso_Estado]) VALUES (1, N'Desarrollo En C#', 1, 1, CAST(N'2024-02-26T22:38:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbCursos] OFF
GO
SET IDENTITY_INSERT [Acade].[tbCursosPorGeneracion] ON 

INSERT [Acade].[tbCursosPorGeneracion] ([CuGen_Id], [Curso_Id], [Gener_Id], [CuGen_UsuarioCreacion], [CuGen_FechaCreacion], [CuGen_UsuarioModificacion], [CuGen_FechaModificacion], [CuGen_Estado]) VALUES (1, 1, 1, 1, CAST(N'2024-02-26T22:45:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbCursosPorGeneracion] OFF
GO
SET IDENTITY_INSERT [Acade].[tbGeneraciones] ON 

INSERT [Acade].[tbGeneraciones] ([Gener_Id], [Gener_Nombre], [Gener_Anhio], [Gener_UsuarioCreacion], [Gener_FechaCreacion], [Gener_UsuarioModificacion], [Gener_FechaModificacion], [Gener_Estado], [Gener_FechaInicio], [Gener_FechaFin]) VALUES (1, N'7ma Generacion', 2024, 1, CAST(N'2024-02-26T22:45:00.000' AS DateTime), NULL, NULL, 1, CAST(N'2023-11-15T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [Acade].[tbGeneraciones] OFF
GO
INSERT [Acade].[tbInstructores] ([Perso_Id], [Titul_Id], [CenEd_Id], [Instr_UsuarioCreacion], [Instr_FechaCreacion], [Instr_UsuarioModificacion], [Instr_FechaModificacion], [Instr_Estado]) VALUES (1, 1, 1, 1, CAST(N'2024-02-26T21:58:00.000' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [Acade].[tbInstructoresPorCursoPorGeneracion] ON 

INSERT [Acade].[tbInstructoresPorCursoPorGeneracion] ([InsCG_Id], [Instr_Id], [CuGen_Id], [InsCG_UsuarioCreacion], [InsCG_FechaCreacion], [InsCG_UsuarioModificacion], [InsCG_FechaModificacion], [InsCG_Estado]) VALUES (1, 1, 1, 1, CAST(N'2024-02-26T22:48:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acade].[tbInstructoresPorCursoPorGeneracion] OFF
GO
SET IDENTITY_INSERT [Acces].[tbPantallas] ON 

INSERT [Acces].[tbPantallas] ([Panta_Id], [Panta_Descripcion], [Panta_UsuarioCreacion], [Panta_FechaCreacion], [Panta_UsuarioModificacion], [Panta_FechaModificacion], [Panta_Estado]) VALUES (1, N'Vistas', 1, CAST(N'2024-02-26T22:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acces].[tbPantallas] OFF
GO
SET IDENTITY_INSERT [Acces].[tbPantallasPorRoles] ON 

INSERT [Acces].[tbPantallasPorRoles] ([Papro_Id], [Panta_Id], [Roles_Id], [Papro_UsuarioCreacion], [Papro_FechaCreacion], [Papro_UsuarioModificacion], [Papro_FechaModificacion], [Papro_Estado]) VALUES (1, 1, 2, 1, CAST(N'2024-02-26T10:11:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acces].[tbPantallasPorRoles] OFF
GO
SET IDENTITY_INSERT [Acces].[tbRoles] ON 

INSERT [Acces].[tbRoles] ([Roles_Id], [Roles_Descripcion], [Roles_UsuarioCreacion], [Roles_UsuarioModificacion], [Roles_FechaCreacion], [Roles_FechaModificacion], [Roles_Estado]) VALUES (1, N'Auditoria', 1, NULL, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, 1)
INSERT [Acces].[tbRoles] ([Roles_Id], [Roles_Descripcion], [Roles_UsuarioCreacion], [Roles_UsuarioModificacion], [Roles_FechaCreacion], [Roles_FechaModificacion], [Roles_Estado]) VALUES (2, N'Instructor', 1, NULL, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, 1)
INSERT [Acces].[tbRoles] ([Roles_Id], [Roles_Descripcion], [Roles_UsuarioCreacion], [Roles_UsuarioModificacion], [Roles_FechaCreacion], [Roles_FechaModificacion], [Roles_Estado]) VALUES (3, N'Reporteria', 1, NULL, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [Acces].[tbRoles] OFF
GO
SET IDENTITY_INSERT [Acces].[tbUsuarios] ON 

INSERT [Acces].[tbUsuarios] ([Usuar_Id], [Usuar_Usuario], [Usuar_Contrasena], [Usuar_UltimaSesion], [Instr_Id], [Roles_Id], [Usuar_Admin], [Usuar_UsuarioCreacion], [Usuar_FechaCreacion], [Usuar_UsuarioModificacion], [Usuar_FechaModificacion], [Usuar_Estado]) VALUES (1, N'admin', N'0x7FCF4BA391C48784EDDE599889D6E3F1E47A27DB36ECC050CC92F259BFAC38AFAD2C68A1AE804D77075E8FB722503F3ECA2B2C1006EE6F6C7B7628CB45FFFD1D', NULL, 1, 1, 1, 1, CAST(N'2024-02-26T19:26:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Acces].[tbUsuarios] OFF
GO
SET IDENTITY_INSERT [Calif].[tbActividades] ON 

INSERT [Calif].[tbActividades] ([Activ_Id], [Activ_Nombre], [Activ_UsuarioCreacion], [Activ_FechaCreacion], [Activ_UsuarioModificacion], [Activ_FechaModificacion], [Activ_Estado]) VALUES (1, N'Evaluacion Final', 1, CAST(N'2024-02-26T22:50:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Calif].[tbActividades] OFF
GO
SET IDENTITY_INSERT [Calif].[tbActividadesPorCursoPorGeneracion] ON 

INSERT [Calif].[tbActividadesPorCursoPorGeneracion] ([ActCG_Id], [Activ_Id], [CuGen_Id], [ActCG_Nota], [ActCG_UsuarioCreacion], [ActCG_FechaCreacion], [ActCG_UsuarioModificacion], [ActCG_FechaModificacion], [ActCG_Estado]) VALUES (1, 1, 1, CAST(40.00 AS Numeric(4, 2)), 1, CAST(N'2024-02-26T22:50:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Calif].[tbActividadesPorCursoPorGeneracion] OFF
GO
SET IDENTITY_INSERT [Calif].[tbCalificaciones] ON 

INSERT [Calif].[tbCalificaciones] ([Calif_Id], [CuGen_Id], [Alumn_Id], [Calif_Nota], [Calif_UsuarioCreacion], [Calif_FechaCreacion], [Calif_UsuarioModificacion], [Calif_FechaModificacion], [Calif_Estado]) VALUES (2, 1, 2, CAST(0.00 AS Numeric(4, 2)), 1, CAST(N'2024-02-26T22:52:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Calif].[tbCalificaciones] OFF
GO
SET IDENTITY_INSERT [Mante].[tbCentrosEducativos] ON 

INSERT [Mante].[tbCentrosEducativos] ([CenEd_Id], [CenEd_Nombre], [CenEd_Direccion], [CenEd_Tipo], [Munic_Id], [CenEd_UsuarioCreacion], [CenEd_FechaCreacion], [CenEd_UsuarioModificacion], [CenEd_FechaModificacion], [CenEd_Estado]) VALUES (1, N'UNITEC', N'15 CALLE 9 AVE S.E.', N'U', N'0501', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbCentrosEducativos] ([CenEd_Id], [CenEd_Nombre], [CenEd_Direccion], [CenEd_Tipo], [Munic_Id], [CenEd_UsuarioCreacion], [CenEd_FechaCreacion], [CenEd_UsuarioModificacion], [CenEd_FechaModificacion], [CenEd_Estado]) VALUES (2, N'UNAH', N'1RA CALLE 5 AVENIDA BULEVAR LOS PROCERES', N'U', N'0501', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbCentrosEducativos] ([CenEd_Id], [CenEd_Nombre], [CenEd_Direccion], [CenEd_Tipo], [Munic_Id], [CenEd_UsuarioCreacion], [CenEd_FechaCreacion], [CenEd_UsuarioModificacion], [CenEd_FechaModificacion], [CenEd_Estado]) VALUES (3, N'LA SALLE', N'POR AHI', N'C', N'0501', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Mante].[tbCentrosEducativos] OFF
GO
INSERT [Mante].[tbDepartamentos] ([Depar_Id], [Depar_Descripcion], [Depar_UsuarioCreacion], [Depar_FechaCreacion], [Depar_UsuarioModificacion], [Depar_FechaModificacion], [Depar_Estado]) VALUES (N'01', N'Atlántida', 1, CAST(N'2024-02-11T12:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbDepartamentos] ([Depar_Id], [Depar_Descripcion], [Depar_UsuarioCreacion], [Depar_FechaCreacion], [Depar_UsuarioModificacion], [Depar_FechaModificacion], [Depar_Estado]) VALUES (N'02', N'Colón', 1, CAST(N'2024-02-11T12:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbDepartamentos] ([Depar_Id], [Depar_Descripcion], [Depar_UsuarioCreacion], [Depar_FechaCreacion], [Depar_UsuarioModificacion], [Depar_FechaModificacion], [Depar_Estado]) VALUES (N'03', N'Comayagua', 1, CAST(N'2024-02-11T12:00:00.000' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [Mante].[tbEstadosCiviles] ON 

INSERT [Mante].[tbEstadosCiviles] ([Estci_Id], [Estci_Descripcion], [Estci_UsuarioCreacion], [Estci_FechaCreacion], [Estci_UsuarioModificacion], [Estci_FechaModificacion], [Estci_Estado]) VALUES (1, N'Soltero', 1, CAST(N'2024-02-26T21:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbEstadosCiviles] ([Estci_Id], [Estci_Descripcion], [Estci_UsuarioCreacion], [Estci_FechaCreacion], [Estci_UsuarioModificacion], [Estci_FechaModificacion], [Estci_Estado]) VALUES (2, N'Casado ', 1, CAST(N'2024-02-26T21:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [Mante].[tbEstadosCiviles] ([Estci_Id], [Estci_Descripcion], [Estci_UsuarioCreacion], [Estci_FechaCreacion], [Estci_UsuarioModificacion], [Estci_FechaModificacion], [Estci_Estado]) VALUES (3, N'Union Libre', 1, CAST(N'2024-02-26T21:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Mante].[tbEstadosCiviles] OFF
GO
INSERT [Mante].[tbMunicipios] ([Munic_Id], [Munic_Descripcion], [Depar_Id], [Munic_UsuarioCreacion], [Munic_FechaCreacion], [Munic_UsuarioModificacion], [Munic_FechaModificacion], [Munic_Estado]) VALUES (N'0501', N'San Pedro Sula', N'05', 1, CAST(N'2024-02-26T21:51:00.000' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [Mante].[tbPersonas] ON 

SET IDENTITY_INSERT [Mante].[tbPersonas] OFF
GO
SET IDENTITY_INSERT [Mante].[tbTitulos] ON 

INSERT [Mante].[tbTitulos] ([Titul_Id], [Titul_Nombre], [Titul_Tipo], [Titul_UsuarioCreacion], [Titul_FechaCreacion], [Titul_UsuarioModificacion], [Titul_FechaModificacion], [Titul_Estado]) VALUES (1, N'Maestria en Gestion de la Tecnologia de la Informacion', N'PO', 1, CAST(N'2024-02-27T00:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [Mante].[tbTitulos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbCursos__96130F134C79E035]    Script Date: 27/2/2024 15:21:30 ******/
ALTER TABLE [Acade].[tbCursos] ADD  CONSTRAINT [UQ__tbCursos__96130F134C79E035] UNIQUE NONCLUSTERED 
(
	[Curso_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__tbGenera__EF26F6E439DAF2D9]    Script Date: 27/2/2024 15:21:30 ******/
ALTER TABLE [Acade].[tbGeneraciones] ADD  CONSTRAINT [UQ__tbGenera__EF26F6E439DAF2D9] UNIQUE NONCLUSTERED 
(
	[Gener_Anhio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbGenera__F58F23740B93A423]    Script Date: 27/2/2024 15:21:30 ******/
ALTER TABLE [Acade].[tbGeneraciones] ADD  CONSTRAINT [UQ__tbGenera__F58F23740B93A423] UNIQUE NONCLUSTERED 
(
	[Gener_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbPantallas_Panta_Id]    Script Date: 27/2/2024 15:21:30 ******/
ALTER TABLE [Acces].[tbPantallas] ADD  CONSTRAINT [UQ_tbPantallas_Panta_Id] UNIQUE NONCLUSTERED 
(
	[Panta_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbRoles_Roles_Descripcion]    Script Date: 27/2/2024 15:21:30 ******/
ALTER TABLE [Acces].[tbRoles] ADD  CONSTRAINT [UQ_tbRoles_Roles_Descripcion] UNIQUE NONCLUSTERED 
(
	[Roles_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbUsuarios_Usuar_Usuario]    Script Date: 27/2/2024 15:21:30 ******/
ALTER TABLE [Acces].[tbUsuarios] ADD  CONSTRAINT [UQ_tbUsuarios_Usuar_Usuario] UNIQUE NONCLUSTERED 
(
	[Usuar_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbActivi__95C1FD2EFF3C674E]    Script Date: 27/2/2024 15:21:30 ******/
ALTER TABLE [Calif].[tbActividades] ADD  CONSTRAINT [UQ__tbActivi__95C1FD2EFF3C674E] UNIQUE NONCLUSTERED 
(
	[Activ_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbDepartamentos_Depar_Descripcion]    Script Date: 27/2/2024 15:21:30 ******/
ALTER TABLE [Mante].[tbDepartamentos] ADD  CONSTRAINT [UQ_tbDepartamentos_Depar_Descripcion] UNIQUE NONCLUSTERED 
(
	[Depar_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbEstadosCiviles_Estci_Descripcion]    Script Date: 27/2/2024 15:21:30 ******/
ALTER TABLE [Mante].[tbEstadosCiviles] ADD  CONSTRAINT [UQ_tbEstadosCiviles_Estci_Descripcion] UNIQUE NONCLUSTERED 
(
	[Estci_Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Acade].[tbAlumnos] ADD  CONSTRAINT [DF__tbAlumnos__Alumn__5EBF139D]  DEFAULT ((1)) FOR [Alumn_Estado]
GO
ALTER TABLE [Acade].[tbAlumnos] ADD  CONSTRAINT [DF_tbAlumnos_Alumn_Observaciones]  DEFAULT ('-') FOR [Alumn_Observaciones]
GO
ALTER TABLE [Acade].[tbCategorias] ADD  DEFAULT ((1)) FOR [Categ_Estado]
GO
ALTER TABLE [Acade].[tbCursos] ADD  CONSTRAINT [DF__tbCursos__Curso___5FB337D6]  DEFAULT ((1)) FOR [Curso_Estado]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] ADD  CONSTRAINT [DF__tbCursosP__CuGen__60A75C0F]  DEFAULT ((1)) FOR [CuGen_Estado]
GO
ALTER TABLE [Acade].[tbGeneraciones] ADD  CONSTRAINT [DF__tbGenerac__Gener__619B8048]  DEFAULT ((1)) FOR [Gener_Estado]
GO
ALTER TABLE [Acade].[tbInstructores] ADD  CONSTRAINT [DF__tbInstruc__Instr__628FA481]  DEFAULT ((1)) FOR [Instr_Estado]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] ADD  CONSTRAINT [DF__tbInstruc__InsCG__6383C8BA]  DEFAULT ((1)) FOR [InsCG_Estado]
GO
ALTER TABLE [Acces].[tbPantallas] ADD  CONSTRAINT [DF__tbPantall__Panta__6477ECF3]  DEFAULT ((1)) FOR [Panta_Estado]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] ADD  CONSTRAINT [DF__tbPantall__Papro__656C112C]  DEFAULT ((1)) FOR [Papro_Estado]
GO
ALTER TABLE [Acces].[tbRoles] ADD  CONSTRAINT [DF_tbRoles_Roles_Estado]  DEFAULT ((1)) FOR [Roles_Estado]
GO
ALTER TABLE [Acces].[tbUsuarios] ADD  CONSTRAINT [DF__tbUsuario__Usuar__66603565]  DEFAULT ((0)) FOR [Usuar_Admin]
GO
ALTER TABLE [Acces].[tbUsuarios] ADD  CONSTRAINT [DF__tbUsuario__Usuar__6754599E]  DEFAULT ((1)) FOR [Usuar_Estado]
GO
ALTER TABLE [Calif].[tbActividades] ADD  CONSTRAINT [DF__tbActivid__Activ__68487DD7]  DEFAULT ((1)) FOR [Activ_Estado]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] ADD  CONSTRAINT [DF__tbActivid__ActCG__693CA210]  DEFAULT ((1)) FOR [ActCG_Estado]
GO
ALTER TABLE [Calif].[tbCalificaciones] ADD  CONSTRAINT [DF_tbCalificaciones_Calif_Nota]  DEFAULT ((0)) FOR [Calif_Nota]
GO
ALTER TABLE [Calif].[tbCalificaciones] ADD  CONSTRAINT [DF__tbCalific__Calif__6A30C649]  DEFAULT ((1)) FOR [Calif_Estado]
GO
ALTER TABLE [Mante].[tbCentrosEducativos] ADD  CONSTRAINT [DF__tbCentros__CenEd__7CD98669]  DEFAULT ((1)) FOR [CenEd_Estado]
GO
ALTER TABLE [Mante].[tbDepartamentos] ADD  CONSTRAINT [DF__tbDeparta__Depar__6B24EA82]  DEFAULT ((1)) FOR [Depar_Estado]
GO
ALTER TABLE [Mante].[tbEstadosCiviles] ADD  DEFAULT ((1)) FOR [Estci_Estado]
GO
ALTER TABLE [Mante].[tbMunicipios] ADD  CONSTRAINT [DF__tbMunicip__Munic__6D0D32F4]  DEFAULT ((1)) FOR [Munic_Estado]
GO
ALTER TABLE [Mante].[tbPersonas] ADD  CONSTRAINT [DF__tbPersona__Perso__6E01572D]  DEFAULT ((1)) FOR [Perso_Estado]
GO
ALTER TABLE [Mante].[tbTitulos] ADD  CONSTRAINT [DF__tbTitulos__Titul__02925FBF]  DEFAULT ((1)) FOR [Titul_Estado]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbCentrosEducativos_CenEd_IdColegio] FOREIGN KEY([CenEd_IdColegio])
REFERENCES [Mante].[tbCentrosEducativos] ([CenEd_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbCentrosEducativos_CenEd_IdColegio]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbCentrosEducativos_CenEd_IdUniversidad] FOREIGN KEY([CenEd_IdUniversidad])
REFERENCES [Mante].[tbCentrosEducativos] ([CenEd_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbCentrosEducativos_CenEd_IdUniversidad]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbPersonas_Perso_Id] FOREIGN KEY([Perso_Id])
REFERENCES [Mante].[tbPersonas] ([Perso_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbPersonas_Perso_Id]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbTitulos_Titul_Id] FOREIGN KEY([Titul_Id])
REFERENCES [Mante].[tbTitulos] ([Titul_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbTitulos_Titul_Id]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbUsuarios_Alumn_UsuarioCreacion] FOREIGN KEY([Alumn_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbUsuarios_Alumn_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_tbAlumnos_tbUsuarios_Alumn_UsuarioModificacion] FOREIGN KEY([Alumn_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbAlumnos] CHECK CONSTRAINT [FK_tbAlumnos_tbUsuarios_Alumn_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbCursos]  WITH CHECK ADD  CONSTRAINT [FK_tbCursos_tbCategorias_Categ_Id] FOREIGN KEY([Categ_Id])
REFERENCES [Acade].[tbCategorias] ([Categ_Id])
GO
ALTER TABLE [Acade].[tbCursos] CHECK CONSTRAINT [FK_tbCursos_tbCategorias_Categ_Id]
GO
ALTER TABLE [Acade].[tbCursos]  WITH CHECK ADD  CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioCreacion] FOREIGN KEY([Curso_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursos] CHECK CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbCursos]  WITH CHECK ADD  CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioModificacion] FOREIGN KEY([Curso_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursos] CHECK CONSTRAINT [FK_tbCursos_tbUsuarios_Curso_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbCursos_Curso_Id] FOREIGN KEY([Curso_Id])
REFERENCES [Acade].[tbCursos] ([Curso_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbCursos_Curso_Id]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbGeneraciones_Gener_Id] FOREIGN KEY([Gener_Id])
REFERENCES [Acade].[tbGeneraciones] ([Gener_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbGeneraciones_Gener_Id]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioCreacion] FOREIGN KEY([CuGen_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioModificacion] FOREIGN KEY([CuGen_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbCursosPorGeneracion] CHECK CONSTRAINT [FK_tbCursosPorGeneracion_tbUsuarios_CuGen_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbGeneraciones]  WITH CHECK ADD  CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioCreacion] FOREIGN KEY([Gener_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbGeneraciones] CHECK CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbGeneraciones]  WITH CHECK ADD  CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioModificacion] FOREIGN KEY([Gener_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbGeneraciones] CHECK CONSTRAINT [FK_tbGeneraciones_tbUsuarios_Gener_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_bInstructores_tbPersonas_Perso_Id] FOREIGN KEY([Perso_Id])
REFERENCES [Mante].[tbPersonas] ([Perso_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_bInstructores_tbPersonas_Perso_Id]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructores_tbTitulos_Titul_Id] FOREIGN KEY([Titul_Id])
REFERENCES [Mante].[tbTitulos] ([Titul_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_tbInstructores_tbTitulos_Titul_Id]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioCreacion] FOREIGN KEY([Instr_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbInstructores]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioModificacion] FOREIGN KEY([Instr_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructores] CHECK CONSTRAINT [FK_tbInstructores_tbUsuarios_Instr_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id] FOREIGN KEY([CuGen_Id])
REFERENCES [Acade].[tbCursosPorGeneracion] ([CuGen_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbInstructores_Instr_Id] FOREIGN KEY([Instr_Id])
REFERENCES [Acade].[tbInstructores] ([Perso_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbInstructores_Instr_Id]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioCreacion] FOREIGN KEY([InsCG_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioCreacion]
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioModificacion] FOREIGN KEY([InsCG_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acade].[tbInstructoresPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbInstructoresPorCursoPorGeneracion_tbUsuarios_InsCG_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbPantallas]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioCreacion] FOREIGN KEY([Panta_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallas] CHECK CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbPantallas]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioModificacion] FOREIGN KEY([Panta_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallas] CHECK CONSTRAINT [FK_tbPantallas_tbUsuarios_5letras_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbPantallas_Panta_Id] FOREIGN KEY([Panta_Id])
REFERENCES [Acces].[tbPantallas] ([Panta_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbPantallas_Panta_Id]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbRoles_Roles_Id] FOREIGN KEY([Roles_Id])
REFERENCES [Acces].[tbRoles] ([Roles_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbRoles_Roles_Id]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioCreacion] FOREIGN KEY([Papro_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbPantallasPorRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioModificacion] FOREIGN KEY([Papro_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbPantallasPorRoles] CHECK CONSTRAINT [FK_tbPantallasPorRoles_tbUsuarios_5letras_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbRoles_tbUsuarios_Roles_UsuarioCreacion] FOREIGN KEY([Roles_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbRoles] CHECK CONSTRAINT [FK_tbRoles_tbUsuarios_Roles_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbRoles]  WITH CHECK ADD  CONSTRAINT [FK_tbRoles_tbUsuarios_Roles_UsuarioModificacion] FOREIGN KEY([Roles_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbRoles] CHECK CONSTRAINT [FK_tbRoles_tbUsuarios_Roles_UsuarioModificacion]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbInstructores_Instr_Id] FOREIGN KEY([Instr_Id])
REFERENCES [Acade].[tbInstructores] ([Perso_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbInstructores_Instr_Id]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbRoles_Roles_Id] FOREIGN KEY([Roles_Id])
REFERENCES [Acces].[tbRoles] ([Roles_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbRoles_Roles_Id]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioCreacion] FOREIGN KEY([Usuar_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioCreacion]
GO
ALTER TABLE [Acces].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioModificacion] FOREIGN KEY([Usuar_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Acces].[tbUsuarios] CHECK CONSTRAINT [FK_tbUsuarios_tbUsuarios_Usuar_UsuarioModificacion]
GO
ALTER TABLE [Calif].[tbActividades]  WITH CHECK ADD  CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioCreacion] FOREIGN KEY([Activ_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividades] CHECK CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioCreacion]
GO
ALTER TABLE [Calif].[tbActividades]  WITH CHECK ADD  CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioModificacion] FOREIGN KEY([Activ_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividades] CHECK CONSTRAINT [FK_tbActividades_tbUsuarios_Activ_UsuarioModificacion]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbActividades_Activ_Id] FOREIGN KEY([Activ_Id])
REFERENCES [Calif].[tbActividades] ([Activ_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbActividades_Activ_Id]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id] FOREIGN KEY([CuGen_Id])
REFERENCES [Acade].[tbCursosPorGeneracion] ([CuGen_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbCursosPorGeneracion_CuGen_Id]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioCreacion] FOREIGN KEY([ActCG_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioCreacion]
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion]  WITH CHECK ADD  CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioModificacion] FOREIGN KEY([ActCG_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbActividadesPorCursoPorGeneracion] CHECK CONSTRAINT [FK_tbActividadesPorCursoPorGeneracion_tbUsuarios_ActCG_UsuarioModificacion]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbAlumnos_Alumn_Id] FOREIGN KEY([Alumn_Id])
REFERENCES [Acade].[tbAlumnos] ([Perso_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbAlumnos_Alumn_Id]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbCursosPorGeneracion_CuGen_Id] FOREIGN KEY([CuGen_Id])
REFERENCES [Acade].[tbCursosPorGeneracion] ([CuGen_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbCursosPorGeneracion_CuGen_Id]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioCreacion] FOREIGN KEY([Calif_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioCreacion]
GO
ALTER TABLE [Calif].[tbCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioModificacion] FOREIGN KEY([Calif_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Calif].[tbCalificaciones] CHECK CONSTRAINT [FK_tbCalificaciones_tbUsuarios_Calif_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbCentrosEducativos]  WITH CHECK ADD  CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_CenEd_UsuarioCreacion] FOREIGN KEY([CenEd_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbCentrosEducativos] CHECK CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_CenEd_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbCentrosEducativos]  WITH CHECK ADD  CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_CenEd_UsuarioModificacion] FOREIGN KEY([CenEd_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbCentrosEducativos] CHECK CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_CenEd_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbDepartamentos]  WITH CHECK ADD  CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioCreacion] FOREIGN KEY([Depar_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbDepartamentos] CHECK CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbDepartamentos]  WITH CHECK ADD  CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioModificacion] FOREIGN KEY([Depar_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbDepartamentos] CHECK CONSTRAINT [FK_tbDepartamentos_tbUsuarios_Depar_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbEstadosCiviles]  WITH CHECK ADD  CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioCreacion] FOREIGN KEY([Estci_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbEstadosCiviles] CHECK CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbEstadosCiviles]  WITH CHECK ADD  CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioModificacion] FOREIGN KEY([Estci_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbEstadosCiviles] CHECK CONSTRAINT [FK_tbEstadosCiviles_tbUsuarios_Estci_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbMunicipios]  WITH CHECK ADD  CONSTRAINT [FK_tbMunicipios_tbDepartamentos_Depar_Id] FOREIGN KEY([Depar_Id])
REFERENCES [Mante].[tbDepartamentos] ([Depar_Id])
GO
ALTER TABLE [Mante].[tbMunicipios] CHECK CONSTRAINT [FK_tbMunicipios_tbDepartamentos_Depar_Id]
GO
ALTER TABLE [Mante].[tbMunicipios]  WITH CHECK ADD  CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioCreacion] FOREIGN KEY([Munic_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbMunicipios] CHECK CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbMunicipios]  WITH CHECK ADD  CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioModificacion] FOREIGN KEY([Munic_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbMunicipios] CHECK CONSTRAINT [FK_tbMunicipios_tbUsuarios_Munic_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbEstadosCiviles_Estci_Id] FOREIGN KEY([Estci_Id])
REFERENCES [Mante].[tbEstadosCiviles] ([Estci_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbEstadosCiviles_Estci_Id]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbMunicipios_Munic_Id] FOREIGN KEY([Munic_Id])
REFERENCES [Mante].[tbMunicipios] ([Munic_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbMunicipios_Munic_Id]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioCreacion] FOREIGN KEY([Perso_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioModificacion] FOREIGN KEY([Perso_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [FK_tbPersonas_tbUsuarios_Perso_UsuarioModificacion]
GO
ALTER TABLE [Mante].[tbTitulos]  WITH CHECK ADD  CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_Titul_UsuarioCreacion] FOREIGN KEY([Titul_UsuarioCreacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbTitulos] CHECK CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_Titul_UsuarioCreacion]
GO
ALTER TABLE [Mante].[tbTitulos]  WITH CHECK ADD  CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_Titul_UsuarioModificacion] FOREIGN KEY([Titul_UsuarioModificacion])
REFERENCES [Acces].[tbUsuarios] ([Usuar_Id])
GO
ALTER TABLE [Mante].[tbTitulos] CHECK CONSTRAINT [FK_tbCentrosEducativos_tbUsuarios_Titul_UsuarioModificacion]
GO
ALTER TABLE [Acade].[tbGeneraciones]  WITH CHECK ADD  CONSTRAINT [CK_tbGeneraciones_Gener_Anhio] CHECK  (([Gener_Anhio]>=(1900)))
GO
ALTER TABLE [Acade].[tbGeneraciones] CHECK CONSTRAINT [CK_tbGeneraciones_Gener_Anhio]
GO
ALTER TABLE [Mante].[tbCentrosEducativos]  WITH CHECK ADD  CONSTRAINT [CK_tbCentrosEducativos_CenEd_Tipo] CHECK  (([CenEd_Tipo]='N' OR [CenEd_Tipo]='U' OR [CenEd_Tipo]='C'))
GO
ALTER TABLE [Mante].[tbCentrosEducativos] CHECK CONSTRAINT [CK_tbCentrosEducativos_CenEd_Tipo]
GO
ALTER TABLE [Mante].[tbPersonas]  WITH CHECK ADD  CONSTRAINT [CK_tbPersonas_Perso_Sexo] CHECK  (([Perso_Sexo]='F' OR [Perso_Sexo]='M'))
GO
ALTER TABLE [Mante].[tbPersonas] CHECK CONSTRAINT [CK_tbPersonas_Perso_Sexo]
GO
ALTER TABLE [Mante].[tbTitulos]  WITH CHECK ADD  CONSTRAINT [CK_tbCentrosEducativos_Titul_Tipo] CHECK  (([Titul_Tipo]='DO' OR [Titul_Tipo]='PO' OR [Titul_Tipo]='PR' OR [Titul_Tipo]='BA'))
GO
ALTER TABLE [Mante].[tbTitulos] CHECK CONSTRAINT [CK_tbCentrosEducativos_Titul_Tipo]
GO
USE [master]
GO
